[2014-09-18 00:23] bryanjos opened #1 "Add Claims Check"
This includes:
Issuer (iss)
Subject (sub)
Audience (aud)
Expiration (exp)
Not Before (nbf)
Issued At (iat)
JWT ID (jti)

All Defined at: https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-25

[2014-09-18 00:23] bryanjos opened #2 "Add signature verification"

[2014-09-27 13:39] #2 closed, assigned to nobody

[2014-09-27 13:40] bryanjos opened #3 "Expiration (exp) Claim Check"

[2014-09-27 13:41] bryanjos opened #4 "Issuer (iss) Claim Check"

[2014-09-27 13:41] bryanjos opened #5 "Subject (sub) Claim Check"

[2014-09-27 13:41] bryanjos opened #6 "Audience (aud) Claim Check"

[2014-09-27 13:41] bryanjos opened #7 "Not Before (nbf) Claim Check"

[2014-09-27 13:42] bryanjos opened #8 "Issued At (iat) Claim Check"

[2014-09-27 13:42] bryanjos opened #9 "JWT ID (jti) Claim Check"

[2014-09-27 13:43] #1 closed, assigned to nobody

[2014-09-27 13:43] #3 closed, assigned to nobody

[2014-09-27 18:04] #4 closed, assigned to nobody

[2014-09-27 18:04] #5 closed, assigned to nobody

[2014-09-27 18:04] #6 closed, assigned to nobody

[2014-09-27 18:04] #7 closed, assigned to nobody

[2015-02-24 15:43] bryanjos opened #13 "Version 1.0"
What would be needed to make this 1.0?

[2015-03-11 13:33] jeregrine opened #14 "Allow configuration of json library"
I am a pretty big fan of the elixir json package poison and it gets similar performance to jsx.

Would it be possible to make the json library configurable?

[2015-03-11 17:29] jeregrine commented on #14
Also would like 1 less dependency :)

[2015-03-11 17:54] bryanjos commented on #14
I would have to look into it and figure out how but it should be possible.

[2015-03-11 18:57] jeregrine commented on #14
Looks like they have the same API except that poison returns and accepts maps natively.

On Wed, Mar 11, 2015 at 12:54 PM, Bryan Joseph <notifications@github.com>
wrote:

[2015-03-11 19:21] bryanjos commented on #14
Yeah I know Phoenix did/does something similar. It's possible and it's a good idea. Just trying to figure out the best way to handle it. I've been using poison for most things these days as well.

[2015-03-11 19:26] jeregrine commented on #14
I’d be :+1: on just switching to it :)

On Wed, Mar 11, 2015 at 2:21 PM, Bryan Joseph <notifications@github.com>
wrote:

[2015-03-13 14:33] bryanjos commented on #14
So I created a branch using Poison. I think today I'm going to create another branch that creates a behaviour and have users implement that and pass in the implementation. I'm wondering if it would be best to turn it into a server and have users of it pass in the configuration that way and/or look at the config and check for settings there as well.

[2015-03-15 15:43] bryanjos commented on #14
Referencing the pull request here in case anyone is interested. If there aren't any objections or feedback I may merge it in today or tomorrow and it will be the version 0.10.0 of Joken.

https://github.com/bryanjos/joken/pull/16

[2015-03-16 23:42] bryanjos commented on #14
Updated the Hex version to 0.10.0. You are now able to use any json library you want via implementing the Joken.Codec behaviour and passing it in.

[2015-03-16 23:42] #14 closed

[2015-03-26 13:56] riverrun opened #17 "Small typo in README"
In the config section of the README, algorithm is spelled wrong -- 'algorithem'.

[2015-03-27 01:25] bryanjos commented on #17
oops! Thanks I've updated it to the correct spelling.

[2015-03-27 01:25] #17 closed

[2015-03-28 05:58] riverrun opened #18 "Example on README is not correct"
Hi,
In the example for the JSON module on the README, I think Joken.Json should be Joken.Codec.

[2015-03-29 18:36] bryanjos commented on #18
I'll push out an update when I can. The current ddosing of GitHub is making it difficult to do some things (including replying to this issue).

[2015-03-29 18:58] bryanjos commented on #18
I pushed an update to Hex (0.10.1) that should have the correct docs

[2015-03-29 18:58] #18 closed

[2015-04-06 12:51] alanpeabody opened #21 "Base 64 encoded key?"
This may very well be user error, but I have been trying to use Joken with a JWT generated by a third party (auth0.com) and I am running into some problems verifying the signature.

Running the same token/signature provided through http://jwt.io works, but only if I click the "secret base64 encoded" check box.

Does Joken support encoded secret keys like this?

If it does not yet I am happy to hel

[2015-04-06 13:54] bryanjos commented on #21
Currently it does not base64 encode the secret. Probably the best way to handle it is to make it a config item and base64 encode the secret_key depending on the value. Then pass that to the Joken.Token.encode function.

For instance, with Joken.encode, the change can be

[code]

And then for Joken.decode you would have to make sure to do the same check before passing it in as well.

[2015-04-06 16:49] alanpeabody commented on #21
Great, thanks Bryan. I will take a stab at this tonight.

[2015-04-07 15:26] alanpeabody commented on #21
Fix in: https://github.com/bryanjos/joken/pull/22

[2015-04-07 15:26] #21 closed

[2015-04-12 19:35] #8 closed

[2015-04-14 19:16] bryanjos commented on #9
Would like to know how to handle this. And also if Joken was to create the id, what would be good to use as an id? Or maybe add some way to give it an id generation function to call.

[2015-04-27 13:26] bryanjos opened #26 "Define behaviour to handle the addition and/or checking of claims"
For instance if someone wants to add claims to a token, or define a custom jti algorithm to be used when encoding a token, etc.

[code]

This should allow for more customization. We can add default implementations for some of the claims (i.e. the time based ones), but still allow for a custom algorithm to be used instead.

[2015-04-27 14:12] jeregrine commented on #26
@bryanjos add_claims will need to accept some claims :)

I don't super have a need for this but I keep my usage of JWT to pretty basic. Looks good to me.

[2015-04-27 14:40] bryanjos commented on #26
The idea would be that the implementor of the behaviour would add the claims to the payload within add_claims.

[2015-05-13 19:28] cs-victor-nascimento opened #27 "Signature verification is not enforced"
Hello! Nice utility library :+1:

I just think that I've found a somewhat strange behaviour. [Here](https://github.com/bryanjos/joken/blob/master/lib/joken/token.ex#L64), the first thing you do is to split the JWT and if it has only 2 parts you keep on going regardless of the algorithm passed. So, even if I configure it to ONLY use HS256, if I receive a token that has no signature, it will go on a

[2015-05-13 20:49] bryanjos commented on #27
:+1:  that looks perfect! I just took a look at the spec and what you proposed is the correct solution. If you make a PR I will accept it and try to make a release for hex tonight as well.

[2015-05-14 00:58] bryanjos commented on #27
I went ahead and fixed the issue in the PR below
https://github.com/bryanjos/joken/pull/28

If everything is ok I'll merge it in and update joken in hex

[2015-05-14 12:49] cs-victor-nascimento commented on #27
Please do! Sorry it took me a while. I was attending other things.

Way to go!

[2015-05-14 13:10] bryanjos commented on #27
No worries. Thanks for pointing this out!

[2015-05-14 13:10] #27 closed

[2015-05-14 13:19] riverrun opened #30 "Typos in the README"
In the example for My.Json.Module:
@behaviour Joken.Json
should be
@behaviour Joken.Codec

and in the config example, there should be a comma after :joken
so it should be
config :joken,
  secret_key: "test"

[2015-05-14 13:23] #30 closed

[2015-05-14 13:25] bryanjos commented on #30
Thanks, I think I got them all.

[2015-05-15 01:58] cs-victor-nascimento opened #31 "[Feature request] - Check expired token for refreshing it"
It is common the need for refreshing a JWT token. Once an issued token expires the client should be able to renew it with some mechanism. Refreshing is not Joken's purpose but in this scenario we need to check the validity of a token even if it has expired.

The issue is that decoding a token with Joken will give an error in the first claim (exp) that will be piped through all other claims without

[2015-05-15 15:36] bryanjos commented on #26
I've been thinking about this some more and the idea I currently have is to define something like below

[code]

Where every claim function also had an associated validate_claim function. One for providing the claim and one for validating the claim. The default functionality would work how it does now, but passing some the uses the above (probably by adding it to the configuration) would use the f

[2015-05-15 15:38] bryanjos commented on #31
I like the second option as well.

I have been thinking about issue #26 a lot which may help for what you want as well. The idea would be to allow the adding and validation of claims to be overridable.

Although maybe the second option you proposed would still be a good idea for one-off situations. I'm open to ideas on any of it.

[2015-05-15 22:49] cs-victor-nascimento commented on #31
I see #26 more as a way to define custom validation for claims. Here is just a way to bypass validation at all for a given set of claims. I believe both are nice features and are related :+1:

With the second option we coud add it without impacting on current users of the library. First I would add an optional parameter to Joken.decode that would be a keyword list. This would then be passed to Jok

[2015-05-16 16:47] bryanjos commented on #31
I think this can be done separately from #26. Just playing around a bit in the code, one approach would be to have a keyword list with the key being the claim and the value being the function used for validation. Something like this:

[code]

Then filtering out the items based on the keys in the skip parameter. From there mapping the remaining items, calling the associated function and then filter

[2015-05-18 21:23] cs-victor-nascimento commented on #31
I thought about the behaviour before because skip is one option. Perhaps there will be other options in the future and processing those would make this code a bit more convoluted. Though I agree that perhaps is better to wait that happen...

I think that a list of errors may not be that helpful for clients of the library. To know if a specific claim failed people would have to match on binaries.

[2015-05-18 21:48] cs-victor-nascimento commented on #9
I've been looking for some more info about this. JTI claims usually means you are saving your token to a database because you want to blacklist or revoke them. See the discussion [here](http://stackoverflow.com/questions/28907831/how-to-use-jti-claim-in-a-jwt) for example.

In an [article from Auth0](https://auth0.com/blog/2015/03/10/blacklist-json-web-token-api-keys/) it seems like they are using

[2015-05-19 14:20] bryanjos commented on #9
I'm not sure what is correct for the value. I think anything is fine as long as their is some expectation of uniqueness. This is one of the use cases that #26 would cover pretty well and let the user of joken figure out what to use as the id and how to validate it.

Adding some information on JWTs would be helpful. I'm not exactly an expert in best practices on JWT. I've looked over the spec a cou

[2015-05-19 14:23] bryanjos commented on #31
I should have some time soon to take a look at both and see where everything fits. You're right it does make more sense to stop at the first error.

[2015-05-29 16:40] jschoch opened #32 "potential security issues"
https://www.timmclean.net/2015/03/31/jwt-algorithm-confusion.html

** edited mistakenly assumed :none might match with a signature of "" **
might be nice to be able to ensure :none never will verify :ok so you can prevent the use of :none via Mix.Config or something.

wondering if the other issues in the above article have been considered.

[2015-05-29 17:33] cs-victor-nascimento commented on #32
I think we are safe here, but I may be wrong. The problem is that per the
specification, :none is a valid algorithm.

The Joken library is already following the author's advice of using only
one pre-configured algorithm. Its default is HS256 and only if you change
that to none it will end up in that line. The library is not trusting a
user given algorithm but it is checking its own configuration.

[2015-05-29 18:59] bryanjos commented on #32
@jschoch yes, @cs-victor-nascimento is correct. The algorithm used to verify the token is taken from the config. The alg property on the token is ignored. Using `:none` as the input for the algorithm parameter is used for checking tokens that the user of joken knows doesn't have a signature part.

I followed that exact article actually to fix the algorithm vulnerability. I took a second look just

[2015-06-01 13:04] bryanjos commented on #26
Not finished yet but #33 is the PR I'm working on for this.

[2015-06-06 22:34] #32 closed

[2015-06-17 19:32] #26 closed

[2015-06-17 19:33] #9 closed

[2015-06-18 13:46] cs-victor-nascimento commented on #31
Fixed on #36.

[2015-06-18 13:46] #31 closed

[2015-06-23 17:49] hassox opened #38 "Validate claim"
The new config setup is great, but one thing I found left me wanting a little more ;)

When validating claims, there's no way to validate many of them because all you have is the claims themselves and the key to validate. For example if I want to validate the :aud I might have something like:

    Joken.decode(string, aud: "MySystem")

Unfortunately as it stands today, I can't check this since the

[2015-06-23 18:30] bryanjos commented on #38
I think I understand. The defcallback validate_claim/2 is given the atom representing the claim and the entire payload. I think that's what you want correct? Right now with that callback you would have to get the claim out of the payload yourself to validate it. I figured there might be instance where you need other info within the payload the validate a claim.

I see I also named the helper funct

[2015-06-23 18:37] bryanjos commented on #38
Maybe it makes more sense to have something like

[code]

Where the first value is the a tuple containing the claim's name and value, and the second is the entire payload? I don't know if that resolves this issue though.

I'm open to any changes that should be made. I'm just trying to understand the issue.

[2015-06-23 20:08] hassox commented on #38
I think what's currently there is the atom for the claim, and the payload. What's missing is the ability to pass in a map/keyword list that contains assertions that should be validated against.

Assume that the payload contains:

    payload = %{ aud: "something" , iat: .... }

When I decode the token:

    Joken.decode(jwt, aud: "something else")

I'd expect to be able to compare the :aud found i

[2015-06-24 13:21] bryanjos commented on #38
Ah I see what you mean. Yes, if you put together a PR I will accept it.

[2015-06-27 09:38] schainker opened #40 ":crypto.sha256_mac has new accessor?"
Hi,
After seeing this error, I fired up iex and tried to invoke :crypto.sha256 with no luck. I'm running OTP 17.5 with elixir 1.0.4 on top of that.

`:crypto.hash :sha256, "Hello"` works, however.  I'm not too familiar with Joken or Erlang's crypto library, but is this an issue with the function accessor changing?  Please have a look at the error. I've removed our token string.

[code]

[2015-06-27 12:03] bryanjos commented on #40
In iex, try running `:crypto.hmac(:sha256, "secret_key", "string_to_encode")`. If you don't see any errors then that at least means it's nothing with crypto.

[2015-06-28 07:06] schainker commented on #40
Works as expected, thanks :)

[2015-07-03 01:14] #40 closed

[2015-07-03 01:22] bryanjos commented on #38
@hassox I started working on this. Check it out #41. I'll probably finish it tomorrow if all is good

[2015-07-05 23:05] werbitzky opened #42 "Update for the README Joken.Config example implementation to not use atoms"
I was using the hassox/guardian authentication framework, when I discovered a problem with their Joken.Config implementation (Guardian.JWT) which used the Poison library in a not recommended way:

https://github.com/hassox/guardian/issues/13

in the joken README there is a Joken.Config example implementation where atoms are also used as keys:

[code]

which can lead to a lot of pain:

https://gith

[2015-07-06 14:30] bryanjos commented on #42
I can do that later this evening. I'll also look to see if there are any places in where atoms are required and remove that requirement.

[2015-07-06 14:31] bryanjos commented on #38
Also @hassox would you like to be a collaborator?

[2015-07-06 21:37] bryanjos commented on #42
@werbitzky #43 is a PR with updates that show an example without atoms for keys. I also updated some tests to see if anything would break if strings were used instead of atoms and everything looks to be ok.

[2015-07-06 22:38] werbitzky commented on #42
Cool, looks good to me! But maybe I'm overlooking something, as the Guardian creator wrote:

[2015-07-07 12:22] bryanjos commented on #42
That may have been true with the older version. The latest one doesn't seem to have that restriction. I'll reply on that issue.

[2015-07-09 01:45] bryanjos commented on #42
Going to close this now. Updated the README to show an example without atoms.

[2015-07-09 01:45] #42 closed

[2015-07-09 01:46] bryanjos commented on #38
Updated with options passed in and keys from options are also passed to validate_claim

[2015-07-09 01:46] #38 closed

[2015-07-14 15:21] olgeni opened #46 "Missing tag 0.15.0"
Release 0.15.0 is on Hex, but the tag is missing on github. Could you please add it?

[2015-07-14 18:29] bryanjos commented on #46
Done

[2015-07-14 18:29] #46 closed

[2015-07-14 18:30] olgeni commented on #46
Thanks!

[2015-07-21 23:12] stephenmuss commented on #13
Would be nice to see RSxxx support. Are there any plans for this?

[2015-07-22 03:51] bryanjos commented on #13
A couple of weeks ago someone on the Elixir IRC channel said they were working on it and readying a PR, but I haven't heard back from them. Yes, it's planned. I haven't looked into it yet personally.

[2015-07-28 18:37] potatosalad commented on #13
I'm working on a library that implements the majority of the JSON Object Signing and Encryption (JOSE) RFC specifications which might pair up nicely with joken: [potatosalad/erlang-jose](https://github.com/potatosalad/erlang-jose).

The JWT RFC and testing are still unfinished, but all of the [JWS algorithms](https://github.com/potatosalad/erlang-jose#json-web-signature-jws-rfc-7515) are supported

[2015-07-28 20:57] bryanjos commented on #13
@potatosalad that looks awesome! I will take a look when I get a chance. It might make a good fit.

[2015-07-29 01:13] cs-victor-nascimento opened #48 "LICENSE file"
Right now there is no license in place for this project. I am no expert on this area but just adding a LICENSE file at root and adding a note at README's bottom should suffice.

Do you advocate any specific open source license? If not I guess we should follow Elixir's choice of Apache License 2.0.

I will be glad to do it if that is ok.

[2015-07-29 01:26] cs-victor-nascimento opened #49 "Travis integration"
Since there are more people contributing, it would be good to have some Continuous Integration service building up PRs and the like. Travis is the most famous (IMHO) so I think we should give it a try. Besides this is almost as easy as adding a file (whcich we can base upon plug's for example). After that, we should add the Travis badge to README.

[2015-07-29 02:44] bryanjos commented on #48
The current one is Apache 2.0. It's defined in the mix.exs file, but it makes sense to have a file for it. I made a PR with the license #50. Should that be ok?

[2015-07-29 02:47] bryanjos commented on #49
Sounds good! I'm all for it.

[2015-07-30 13:43] bryanjos commented on #48
I Added the license file for Apache 2.0. If there are any issues with it let me know.

[2015-07-30 13:43] #48 closed

[2015-07-30 22:37] cs-victor-nascimento commented on #48
It is perfect! Sorry for the delay!

[2015-07-31 14:06] bryanjos commented on #49
I turned it on and builds are passing! https://travis-ci.org/bryanjos/joken

I also added the badge to the README.md. Thanks for setting this up!

[2015-07-31 14:06] #49 closed

[2015-08-02 16:43] bryanjos opened #54 "Allow the config_module key to be placed on any config block"
Since there is now only one config item for Joken, `config_module`, it would probably be nice to make it so that the user can define which config block contains the key.

I propose change the `config_module` key to `joken_module`, and adding a using macro that takes an `otp_app` option which defines which config block to look for the `joken_module` key.

Something like below:

[code]

I made a bra

[2015-08-02 23:58] cs-victor-nascimento commented on #54
This is nice! Some things I think would be useful:

- Perhaps it is good to have the property name as an optional parameter. This way it would be possible to have 2 config modules: one for user login and another for system to system authentication. I don't need this use case but I think it will be desired by people who are coding microservices.
- We could use a `@on_load` to cache the generated JO

[2015-08-03 00:22] cs-victor-nascimento opened #55 "Add Plug features"
Many people use plug_jwt or other frameworks that implement JWT signing and verification for Plug. This could be handled directly by Joken. Features that come to mind are:

* A Plug: a plug for verifying if a request has a valid token. This should be configurable per route (using Plugs 0.14.0 ability to assign private options to a connection) with:
  * skipping the route altogether
  * passing spe

[2015-08-03 00:35] bryanjos commented on #54
Good points. I think making the name of the config property optional makes sense. Or maybe add a property that points directly to the module instead?

I had to look up `@on_load` :smile:. It sounds like that could work.

[2015-08-03 00:37] bryanjos commented on #55
I like it! It also covers a use case that is currently an open issue with plug_jwt.

[2015-08-04 01:35] cs-victor-nascimento commented on #55
I have a first take on this [here](https://github.com/cs-victor-nascimento/joken/tree/joken_plug).

I did not make a PR yet because I wanted your opinion on something: by default, the JSON we return here has in its field description the reason it failed authorization. This may be okay for development but I think that in production this can be tricky. All information that is public can be used by a

[2015-08-04 01:44] bryanjos commented on #55
Making the error customizable on the plug makes sense. That seems like a good idea.

For the recent update to plug_jwt, what you proposed here for the plug solves the exact problem and in a better way I think.

[2015-08-04 03:03] cs-victor-nascimento commented on #55
Okay! So, we have this:
- default behaviour on error will be a blank 401 Unauthorized response
- an option called on_error will map to a function that receives two parameters: conn and message from `{:error, message} = Joken.Token.decode(token)`. If this returns {:body, body_map} we add it to the response. Otherwise we go on with default behaviour.

Is that ok?

[2015-08-05 00:39] #55 closed

[2015-08-06 23:42] bryanjos commented on #54
@cs-victor-nascimento I added a PR for this, but I haven't added the bit to customize the property itself yet.

Also I'm not sure I completely understand what should be cached using `@on_load`. Could you give me an idea of what to do?

[2015-08-07 00:47] cs-victor-nascimento commented on #54
The cache idea is that for each config module the first part of a JWT (which describes de algorithm and optional parameters) will always be the same. Say you choose to use HS256. Then it will always be {"alg": "HS256", "typ": "jwt"} or something.

So we can generate the JSON and Base64 representation of those once we have that information. Not sure the on_load will work with that (not 100% secure

[2015-08-07 02:45] cs-victor-nascimento commented on #54
Actually I was thinking and I believe we should have a performance benchmark suite set before atempting any early optimization. I will open another issue for that.

[2015-08-07 02:47] cs-victor-nascimento opened #59 "Benchmark suite"
Since Joken will probably be a hot path in any APIs in the wild that use it, we need a performance benchmark suite to ensure future changes won't introduce performance regressions.

[2015-08-07 13:04] bryanjos commented on #59
Sounds like a good idea. Did you have anything in mind? I've never done a performance benchmark suite of any kind before.

[2015-08-07 17:12] cs-victor-nascimento commented on #59
I believe people are going with the [benchfella](https://hex.pm/packages/benchfella) lib. It has a simple configuration and allows us to plug a comparison between runs. It is a lib from one very prolific contributor to Elixir.

I am no expert on benchmarking too and the intention is not really scientific here. But to alarm us on regressions.

I will give it a try.

[2015-08-07 18:41] bryanjos commented on #59
Cool! It looks nice, I guess I'm not sure how to set up tests to fail when a performance issue occurs. But I am interested in doing so.

[2015-08-10 13:54] bryanjos commented on #54
The caching may work, but I will probably do a separate issue/PR for it. I can probably finish this by adding the ability to customize the config key tonight.

With all the changes going on, the next release will be a big one!

[2015-08-10 16:15] #59 closed

[2015-08-12 22:08] bryanjos opened #62 "Making the API better"
I would like to make this library the best it can be. I think the current API reflects my misunderstandings of the JWT spec and how people use JWT in practice. I am making this issue to propose a better API and also to take comments and proposals for making Joken better as well.

I propose simplifying the library down to the essential functionality. What I feel is essential functionality is encodi

[2015-08-13 12:20] keichan34 commented on #62
I like your proposed interface. One minor nitpick would be to allow a whitelist of algorithms in the `decode` function.

[2015-08-13 18:49] cs-victor-nascimento commented on #62
I too think the API can be better. Not only because of its usability but also in terms of functionality. But before tackling this we need to know better the use cases we want to address.

Right now we have:

1. **Encoding claims into a token.** That is: given a set of claims following JWTs RFC standard, we generate a JWS header and sign it in COMPACT serialization accordingly. From this also follo

[2015-08-13 20:46] bryanjos commented on #62
@cs-victor-nascimento I agree with most of what you have here.

1. **JSON encoding/decoding**: That sounds reasonable. For picking a default, Poison is probably the way to. It is definitely the most popular.

2. **Claims configuration**: We should definitely remove the claims portion of the config. It's completely unneeded. I'm not sure if we should build up the claims only because not everyone us

[2015-08-13 21:10] bryanjos commented on #62
As soon as I responded, I thought of something further. It builds on my response, and @cs-victor-nascimento maybe this is more of what you had in mind as well?

[code]

[2015-08-13 22:47] potatosalad commented on #62
Quick note about my intentions:

My goal with [erlang-jose](https://github.com/potatosalad/erlang-jose) was to have a fairly low-level library that accurately implements the [JOSE RFC specifications](https://tools.ietf.org/wg/jose/) for both Erlang and Elixir.  When I found joken which I thought would make a nice higher-level complement to erlang-jose.

Here are some of my opinions about the speci

[2015-08-13 23:05] cs-victor-nascimento commented on #62
@bryanjos I see what you did there... Real nice!

In the end we are all aligned with the goals. I agree with @potatosalad that the user will end up passing whatever he wants to be encoded. All other specifications are applicable for any JSON and not only JWTs (and even that is very vague as pointed out). So the user must retain its ability to pass whatever he wants to Joken. But I still think Brya

[2015-08-13 23:05] potatosalad commented on #62
Forgot to mention another renaming suggestion: `sign` and `verify` make more sense to me in terms of what the RFC describes instead of `encode` and `decode`.  It becomes even more apparent if we were to ever add `encrypt` and `decrypt` to joken.

[2015-08-13 23:28] bryanjos commented on #62
@cs-victor-nascimento thanks! I'm glad you like the idea. @potatosalad you bring up a lot of valid points. Like you said, the JWT RFC does leave a lot up for interpretation and I think that's what has caught me off guard up to this point and something I hope we can fix here.

I like the idea of `sign` and `verify`. `encode` and `decode` do give a different meaning. Technically the role of the libr

[2015-08-14 00:20] potatosalad commented on #62
@cs-victor-nascimento Whoops, I started writing my response off and on earlier in the day before Bryan posted and hadn't refreshed the page to see them yet.

@bryanjos I think the the struct/map option could be a good idea.  What do you think of the following ideas?

I think separating the JWK + JWS portion from the JWT might make the API clearer:

[code]

Using your example above, it could reduce

[2015-08-14 01:00] cs-victor-nascimento commented on #62
I think we are all set to start! I like the idea of having both sign/verify and encrypt/decrypt.

So we need:
- [ ] `Joken.Token` struct definition Bryan's proposal plus Andrew's signer, encrypter and decrypter fields.
- [ ] Define our JSON strategy (simply use JSX from erlang-jose?)
- [ ] Following functions in `Joken` module:
    - [ ] `token/0` and `token/1` (both generate the same struct. toke

[2015-08-14 01:14] bryanjos commented on #62
That looks good to me! How would any of this effect the plug and should we change anything to accommodate that?

[2015-08-14 01:30] cs-victor-nascimento commented on #62
Well... since you've mentioned it... it breaks the Plug completely hehehe

I believe the final touch to this is to make it portable. I mean, besides sign/verify and encrypt/decrypt we should always return the token struct. For example, validate_exp would be kept in a validation map. Only those mentioned functions would return something like `{:ok, compact_token}` or `{:ok, payload}`. That way we c

[2015-08-14 01:32] cs-victor-nascimento commented on #62
Actually, we could do:

[code]

[2015-08-14 01:46] potatosalad commented on #62
@cs-victor-nascimento I'll see if I can get erlang-jose to allow for choosing between Poison or jsx (or any other encoder/decoder) for the encoding and decoding of JSON.  By default, it can just detect whether Poison or jsx is already loaded (preferring Poison over jsx).

[2015-08-14 13:33] bryanjos commented on #62
@cs-victor-nascimento I was thinking that we always return a token struct even when doing sign/verify.

For the plug, I don't know if I'm allowed to like both of those choices, but I do :smile:

@potatosalad thanks for looking into that. If it becomes too much of an issue, we can figure out something else.

[2015-08-14 14:31] cs-victor-nascimento commented on #62
I think we have enough to start. Let's hibernate the Plug for a while during this refactoring.

I won't have much time to look into this this weekend. But we should start a new brand and go on.

[2015-08-14 16:11] bryanjos commented on #62
Agreed. I think I should have some time this weekend to start.

[2015-08-14 19:39] potatosalad commented on #62
I just released [jose v1.2.0](https://github.com/potatosalad/erlang-jose/releases/tag/1.2.0) which allows you specify either jsx, Poison, or any other module as the JSON encoder/decoder.

You can do so either by setting the application environment variable `json_module`, or by using `JOSE.json_module/1`:

[code]

If no module has been specified:

* On Elixir it will first attempt to use Poison.  I

[2015-08-14 19:43] potatosalad commented on #62
Also, the tests may be failing now with joken.  Another flag, `crypto_fallback` was added to 1.2.0 which disables the PS256, PS384, and PS512 signing algorithms by default.

Calling `JOSE.JWA.crypto_fallback(true)` will enable the non-native algorithms to allow the tests to pass.  See [jose_test.exs](https://github.com/potatosalad/erlang-jose/blob/master/test/jose_test.exs#L4-L7) for an example.

[2015-08-15 20:24] bryanjos commented on #54
Closing this as it's no longer valid

[2015-08-15 20:24] #54 closed

[2015-08-16 21:23] bryanjos commented on #62
Created a new branch called [0.16.0](https://github.com/bryanjos/joken/tree/0.16.0) and added the Token and Signer structs, along with `token/0`, `token/1` functions (the later taking either a binary or a map) and  `sign/2` functions.

https://github.com/bryanjos/joken/commit/a667fa4d48a7969c2c4048b1b2fc7d0777f947d6

[2015-08-19 22:14] bryanjos opened #65 "Remove old API from new version"

[2015-08-19 22:17] bryanjos opened #66 "Handling verification options"
With the new API we should figure out what to do with "skip_claims" and "skip_verifying". I think the new API handles skipping claim validations when needed, but the skip_verifying option needs a bit more thought.

[2015-08-21 02:05] cs-victor-nascimento opened #69 "Logger integration?"
Most of the time I want to debug something in Joken I end up adding some logging. The Logger framework is awesome and I it is easy to integrate it in an application's config.

When disabling it in config, since all its functions are macros, they are not even included in the final AST. This is real neat!

It includes a per application configuration so we could assume a default to ERROR only and adv

[2015-08-21 14:18] bryanjos commented on #69
I agree we can adding logging. It will not only help us, but also anyone debugging their applications. The only reason I never put in logging is because I think it can clutter up code, but that's not a very good reason if it's done right.

[2015-08-21 14:50] cs-victor-nascimento commented on #65
Fixed in #67

[2015-08-21 14:50] cs-victor-nascimento commented on #65
We are only missing the config module right?

[2015-08-21 14:51] bryanjos commented on #65
Yes and the functions in Joken.Token. I'm actually working on removing those now and should have a PR ready soon

[2015-08-21 14:54] bryanjos commented on #65
Actually I forgot about updating the benchmarks. I may not have that PR soon :smile:

[2015-08-22 02:48] cs-victor-nascimento commented on #65
I guess almost everything went away (and it is now MUCH cleaner)!

The only bits left and that we could discuss if it is worth to add replacements are the ones in Joken.Helpers. I am talking about the validate_** functions.

[2015-09-01 14:17] cs-victor-nascimento commented on #66
I think this is only a question of supporting an optional parameter in all verify function variants. Something like:
[code]

Though I really think that skipping verification is a somewhat dangerous option and I think we should ask if the new API supports the mentioned use case better.

@bryanjos @keichan34 what do you think?

[2015-09-01 14:44] bryanjos commented on #66
Good question. I think for skip_verifying, the none algorithm could be used. It's specifically used for unsecure JWSs if I'm reading the spec correctly. For skip_claims, we could add an option as stated or maybe another function to remove validations from the Token struct?

[2015-09-01 14:46] cs-victor-nascimento commented on #66
I'd say both :+1:

[2015-09-01 14:49] cs-victor-nascimento commented on #69
I'd add Logging as debug on verifying and signing for now. That is as simple as:

[code]

[2015-09-01 14:52] bryanjos opened #79 "Use string keys by default in new API"
I asked about what's the best practice for string keys vs atom keys and the response I got was "string keys for user input, atom keys for everything else". I also know that Guardian, which currently uses this library, uses string keys as well. Right now, the default token uses atoms for the claims and validations and the verify function turns the strings into atoms after JSON decoding.

I think we

[2015-09-01 14:52] cs-victor-nascimento commented on #65
This one can be closed right? I think we have everything in 0.16.0 now.

Now we should keep updating README (for example with the struct as claims functions) but this is nothing to do with the old API now.

[2015-09-01 14:55] cs-victor-nascimento commented on #13
With all the algorithms now properly implemented (thanks to erlang-jose!!!) and a whole new API, I think we could tag 0.16.0 as a 1.0.0-rc1.

We should seek feedback from the mailing list and core members. The only thing to call a 1.0.0 release would be, IMHO, a good set of samples. I was thinking of coming up with a simple plug application that can be deployed to Heroku or something like that. Bu

[2015-09-01 14:57] bryanjos commented on #66
Actually I may have to rethink what I said about the none algorithm for this. You would still need the algorithm to decode it.  For skip_claims, which one do you think works better, adding it to the options or a remove_validations function?

[2015-09-01 14:59] cs-victor-nascimento commented on #66
I think we should have both an option parameter and a remove_validation function. They would work a bit different. The skip_claims in the option list would skip for that single verification and the remove_validation would remove it from then on.

[2015-09-01 15:00] #65 closed

[2015-09-01 15:03] cs-victor-nascimento commented on #79
That is an interesting question. I believe that with the new API we would never hit a case where the atom was not previously registered. This was a different case back with the old API where we would accept an arbitrary map. Right now you have only `with_claim/2` functions and `with_claims/2` which both accept only known atoms.

I think we are safe here. We are not accepting user input so I believ

[2015-09-01 15:07] bryanjos commented on #13
I think that's a good plan. I agree we should definitely should get feedback from the mailing list and anybody who has built a library around it. Sounds like we are close!

[2015-09-01 15:14] bryanjos commented on #79
I think the only place we it's an issue is [here](https://github.com/bryanjos/joken/blob/0.16.0/lib/joken/signer.ex#L153) where we turn the string into an atom. If we remove that then I think we are ok.

[2015-09-01 15:24] cs-victor-nascimento commented on #79
To remove that we would have to pass a `keys: :atoms!` to decode_payload. I think that would break JSX integration. In any case, that would only pass this line to Poison or JSX. In the end it would still execute it.

This line is safe as it will only execute AFTER verification is ok. So, in the end, all atoms there should have been registered before.

I understand the issue here. Perhaps it is bet

[2015-09-01 17:31] bryanjos commented on #79
I think using binary keys as a default will be better. I much prefer atoms myself honestly, but I know there are some concerns about using them. I can put together a PR for this today if I get a chance.

[2015-09-01 17:49] cs-victor-nascimento commented on #79
I agree with you. It is best to go a safe route here.

On Tue, Sep 1, 2015 at 2:31 PM, Bryan Joseph <notifications@github.com>
wrote:

--
Victor Oliveira Nascimento
*Concrete* *Solutions*
Senior Analyst/Developer
victor.nascimento@concretesolutions.com.br
http://www.concretesolutions.com.br
Mobile: +55 11 9 8923-8061

Rio de Janeiro                                     São Paulo
Rua São José 90, sa

[2015-09-02 14:53] bryanjos commented on #79
closed with #80

[2015-09-02 14:53] #79 closed

[2015-09-03 01:41] cs-victor-nascimento opened #82 "[FEATURE] - Claim generation"
While using this new API I stumbled on something we might have missed: claim generation instead of statically linking the claim. The difference is illustrated below:

[code]

This makes it possible for me to have a single instance of `Joken.Token` generating tokens for several requests.

What do you think?

[2015-09-03 01:48] bryanjos commented on #82
That's a good idea! That would definitely be helpful

[2015-09-06 22:06] #82 closed

[2015-09-06 22:06] cs-victor-nascimento commented on #82
Fixed in #83

[2015-09-06 22:07] cs-victor-nascimento commented on #69
Fixed in #81.

All we need is to discuss if we should log the key or not.

[2015-09-06 22:07] #69 closed

[2015-09-06 22:07] cs-victor-nascimento commented on #62
Should we close this one? I guess we are settled with the API for now.

[2015-09-07 14:24] bryanjos commented on #62
Yes, we can close this one. Closing now

[2015-09-07 14:24] #62 closed

[2015-09-09 17:26] cs-victor-nascimento commented on #66
@keichan34 do you still have the use case of skipping verification? Does the new API help with your use case? If that is not a problem I'll propose to close this issue.

Thanks!

[2015-09-10 01:13] keichan34 commented on #66
I do have this use case, yes. The "none" algorithm would work, but I think for now it may be out of the scope of this project? I can parse the token for its claims manually, so I might end up just doing that. (I'm validating the token based on what is in the "iss" claim -- this is probably an edge case?)

The other changes look great!

[2015-09-10 01:48] cs-victor-nascimento commented on #66
I think that is somewhat an edge case yes. The none algorithm would probably not help you much here because you would run `verify` 2 times (one with a token configuration with a none signer and one with your real signer) and that is unnecessary. I guess your best bet is to take the second part of the token (the one between dots) and decode it on your own to take the iss claim.

Another approach (a

[2015-09-10 02:09] keichan34 commented on #66
I'll go ahead with decoding the token on my own, then. Thanks for your help! Looking forward to the release. :smiley:

[2015-09-10 14:21] bryanjos commented on #66
Awesome! I guess this is resolved for now so I'll close this issue.

[2015-09-15 07:53] fire opened #93 "Create documentation examples on claims"
It would be helpful if document existed for writing the various claim generators.

Here are some examples, but would like comments.

* nonce (jti claim)

Probably hmac(random number, (hash(identifier) + now_timestamp)) where the random number is the key and the hashed identifier and timestamp is the data.
* expiration time (exp claim)

with_claim_generator("exp", fn -> current_time + 60 * 1000 end

[2015-09-15 08:09] bryanjos commented on #93
We can definitely add more documentation for the claim generators and some examples.

[2015-09-18 14:21] bryanjos opened #94 "Create a function to get errors from a token"
This will be just like `get_claims` except it will return the errors from token verification.

[2015-09-22 13:28] #94 closed

[2015-09-22 17:05] bryanjos commented on #66
Reopening as it seems the use case for getting claims before verification is a common one and one we should implement. Erlang-Jose is going to implement something similar and we can build off of that.

[2015-09-30 22:24] dfcarpenter opened #97 "claim error on compilation"
Keep getting an error when I run mix phoenix.server or phoenix.digest
Elixir 1.1
Phoenix 1.0.3

[code]

[2015-09-30 22:32] bryanjos commented on #97
I was able to reproduce it and looking into it now

[2015-09-30 22:52] bryanjos commented on #97
I fixed it and It should be in the next version. For the current version, if you are using a map, struct, or have an explicit implementation of the Joken.Claims protocol for your data type, you should not see any issues.

[2015-10-01 00:25] dfcarpenter commented on #97
Wow, thanks for the quick response!

[2015-10-01 00:25] #97 closed

[2015-10-04 19:48] cs-victor-nascimento commented on #93
Hey @fire , we have added some more documentation in the wiki. Perhaps, to close this issue, we should mention it in the README.

Does the docs in the wiki help to clarify claim generation?

[2015-10-04 20:04] fire commented on #93
I was able to figure it out on my own. Maybe someone else can file bugs if they don't understand.

[2015-10-04 20:04] #93 closed

[2015-10-06 16:47] cs-victor-nascimento commented on #66
@bryanjos I have a question about this use case: should we implement it inside the signing or verifying steps or as a standalone function outside of these steps?

I mean, the first case can be used to notify or log before signing and verifying. The second case can be used to change which keys to use. I think this is the one asked the first time, right?

If that is so, we don't need to wait for erl

[2015-10-06 18:29] bryanjos commented on #66
@cs-victor-nascimento it looks like there is a JOSE.JWS.peek/1 function now in erlang-jose which is the one @potatosalad said he was going to implement. We could make it it's own function I guess if it makes sense to. We could name it "peek" as well. I have some time now to look into it

[2015-10-18 02:21] jacqt opened #101 "Add custom JOSE header arguments"
I need to set custom header arguments to a JWT that I'm creating - what's the best way to do that using Joken - or should I be looking for a different elixir library?

Thanks!

[2015-10-18 15:29] mattweldon opened #102 "Using Joken.Plug with Phoenix causes a compile-time error"
Just tried to upgrade from `plug_jwt` / `joken 0.15.0` to `joken 0.16.0` using the upgrade guides [here](https://github.com/bryanjos/joken/blob/13b8212d189cb6d754166bd697ff5a892e8d8362/CHANGELOG.md), and now I can't get my Phoenix apps to compile.

The error returned is:

[code]

Unsure if this is a compatibility problem with Joken/Phoenix, or if I've just missed something obvious!

I've managed t

[2015-10-18 16:17] bryanjos commented on #102
Thanks for the project with the issue replicated. I was able to track it down and fix it. I'll update the version in hex shortly and let you know.

[2015-10-18 16:17] #102 closed

[2015-10-18 16:24] bryanjos commented on #102
@mattweldon I published the new version (0.16.1) in hex. Update the joken dependency and try again. Hopefully it will work with no further issues.

[2015-10-18 18:55] bryanjos commented on #101
Hi,

If you want to add a custom claim, you can use `Joken.with_claim/2`. You can add validation for that claim with `Joken.with_validation/2`

[code]

[2015-10-18 18:56] mattweldon commented on #102
@bryanjos Worked a charm! Thanks :+1:

[2015-10-19 16:20] cs-victor-nascimento commented on #101
@bryanjos I think we must add this feature to Joken. @jacqt is right as the spec says it should be possible to add header arguments (such as key id) to the JOSE header. I'll have to re-read the spec to be sure, but I think some simple `with_header_arg/2` would cut it.

I will mark this as a feature request so we can track it before 1.0.0 is final.

[2015-10-19 16:24] bryanjos commented on #101
ah, the JOSE header. I misunderstood. Yes I agree we should add this

[2015-10-19 17:07] jacqt commented on #101
Yeah, I meant the JOSE header - sorry for the confusion!

[2015-10-21 00:15] cs-victor-nascimento commented on #101
@bryanjos I've investigated and JOSE accepts it no problem.

We currently ignore the header arguments generated [here](https://github.com/bryanjos/joken/blob/master/lib/joken/signer.ex#L136). We only use to confirm the algorithm passed is the same used in the JWT.

We could add an extra optional parameter to the signer functions. That way extra header parameters will be persisted in the compact re

[2015-10-21 13:26] bryanjos commented on #101
@cs-victor-nascimento no worries. I think I can work on it today

[2015-10-26 04:38] Kabal opened #106 "Plug documentation - on_verifying function"
I was just updating an old toy project of mine that used Joken plus a Plug that I wrote myself, so I figured I should swap to the Joken.Plug but it took me a while to figure out a few things.

In the documentation and readme it says:

[code]
However the rarity of verify_function is actually 0

Also it might be good to show an example of what verify_function should do e.g:

[code]

Also if that is

[2015-10-26 14:28] cs-victor-nascimento commented on #106
Good catch! We have refactored this part and all tests are using a zero arity function too.

I will update this! THanks for reporting!

[2015-10-26 14:44] cs-victor-nascimento commented on #101
@jacqt #105 has been merged to master. Does it work for you this way? Can we close this one?

[2015-10-26 15:58] #106 closed

[2015-10-28 00:41] cs-victor-nascimento commented on #66
@bryanjos peek is already merged! As mentioned, that fixes this use case and we are good to close this one, right?

[2015-10-28 01:53] bryanjos commented on #66
Yes, peek has been merged and should resolve this issue. Closing now

[2015-10-28 01:53] #66 closed

[2015-11-06 21:41] rorymckinley commented on #40
For future generations of internet users who may be trying to google this error - I ran into this error because I had forgotten to set the secret key in the Joken portion of my config:

 # Configure joken
  config :joken,
  json_module: PhoenixTokenAuth.PoisonHelper,
  algorithm: :HS256,
  secret_key: "Remember to set the secret key"  # Needed to add this element

[2015-11-19 16:09] #101 closed

[2015-11-19 16:11] bryanjos opened #109 "Add the ability to enable the 'none' algorithm. Set ability to false by default"
Add config option to control the ability to use the 'none' algorithm. Set to false by default.

[2015-11-19 16:39] cs-victor-nascimento opened #110 "Use the new `verify_strict` from JOSE 1.4"
We should use the new `verify_strict/3` from JOSE 1.4

[2015-11-19 18:32] potatosalad commented on #109
I recently added similar behavior to [`JOSE.JWS`](https://hexdocs.pm/jose/JOSE.JWS.html) (see also the [Unsecured Signing Vulnerability](https://github.com/potatosalad/erlang-jose#unsecured-signing-vulnerability) section in the readme).  It's currently controlled at the global application level instead of a per-token basis, however.

[2015-11-19 18:39] bryanjos commented on #109
Cool! I didn't think about having it at a per token basis. I just assumed it would be global. Now I'm wondering how it would work per token?

[2015-11-19 18:53] potatosalad commented on #109
It's definitely the easiest signature format to implement on the signing side of things (if you wanted to bypass the global setting):

[code]

Verifying is also fairly easy:

[code]

[2015-11-19 18:58] cs-victor-nascimento commented on #109
Actually I believe we are just fine allowing it only as a global state. In fact I appreciate it being turned off by default.

[2015-11-19 19:00] potatosalad commented on #109
Also, per token works now on the signing/verifying side with jose if `JOSE.unsecured_signing/0` is enabled:

[code]

[2015-11-19 19:04] potatosalad commented on #109
Unrelated side note, I'm not sure how I survived this long without realizing that [`Kernel.elem/2`](http://elixir-lang.org/docs/v1.1/elixir/Kernel.html#elem/2) existed for Elixir.  I kept using [`:erlang.element/2`](http://www.erlang.org/doc/man/erlang.html#element-2) throughout my Elixir code which was super clunky.

[2015-11-19 22:52] #110 closed

[2015-11-29 16:08] bryanjos commented on #109
#112 should resolve this

[2015-11-29 16:08] #109 closed

[2015-12-07 22:37] bryanjos commented on #13
@cs-victor-nascimento just published 1.0!
https://hex.pm/packages/joken

[2015-12-07 22:37] #13 closed

[2016-02-20 00:27] curtislinden opened #114 "JWT exp"
I have a JWT signature generated by another library and I expect that the JWT library would return "Signature has expired" when i ask for errors..

Is there any plan to enforce the exp claim?

[2016-02-20 00:43] curtislinden commented on #114
I found in the docs how the default token generates this.
            |> with_validation("exp", &(&1 > current_time))

Because I was constructing a token with an existing compat  I needed to be explicit about this validation.

[2016-02-20 00:43] #114 closed

[2016-03-04 18:15] sashaafm opened #117 "Example to use with RS256 for Google Cloud Platform"
Hello, I'm trying to use Joken to get access tokens for Google Cloud Platform. I can't seem to use RS256 (which is what the docs say must be used). Could you please help me with this, maybe by providing an example?
[code]

[2016-03-04 18:31] cs-victor-nascimento commented on #117
Hey @sashaafm!

It seems like you are trying to use RS256 as a password based key. RS256 is not password based. Look in our test suite examples of RS256 keys like [here](https://github.com/bryanjos/joken/blob/master/test/support/keys_fixture.exs#L29). You need to pass several options to this certificate based key.

Does this help?

[2016-03-25 14:11] bryanjos commented on #117
If that suggestion helps, I'm closing going to close this.

[2016-03-25 14:11] #117 closed

[2016-04-14 14:34] jschoch opened #123 "ps256 with x5u header"
I have a token that is using ps256 and it has an x5u header with the public key location.  How do I encode the key as a map to feed to the ps256 function?  Any help would be appreciated.

[2016-04-14 15:07] cs-victor-nascimento commented on #123
[This](https://github.com/bryanjos/joken/blob/master/test/support/keys_fixture.exs#L41) is an example we use for testing the PS256 algorithm. We use only `x` as parameter.

Also, the key format is pretty much defined by the [JOSE](https://hex.pm/packages/jose) library. [Here](https://github.com/potatosalad/erlang-jose/blob/master/test/jose_test.exs#L104) is another example.

Does this help?

[2016-04-14 20:50] jschoch commented on #123
i'm not quite sure how to get the right thing from the public key into the map required for verify.  I have somehthing like this

JWT header
[code]

[code]

that gets me the pem file.  I have decoded it with:

[code]

how do i get the decoded "certificate" to verify in the correct format?  How did you rsa_key fixtures get mapped in that way from the decoded pem?

[2016-04-22 15:33] 0x6e6562 opened #124 "Defining the JSON module"
Can somebody explain how to define the JSON module to get rid of this error during verification:

[code]

This is how I've defined my router:

[code]

I've tried this with the mix `config.exs`, but to no avail:

[code]

Am I missing something obvious?

[2016-04-22 15:50] bryanjos commented on #124
Hi, you would do it like so:

[code]

[2016-04-22 17:21] 0x6e6562 commented on #124
Perfect!

That's working now - many thanks for your help :-)

[2016-04-22 17:21] #124 closed

[2016-05-15 18:52] potatosalad commented on #123
@jschoch Something like the following should work:

[code]

The value of `verified` should be `true` or `false` and depending on whether you have an embedded JWT or not, `jwt` will be a `%JOSE.JWT{}` struct, or `plain_text` will be a decoded binary.

[2016-05-18 02:31] dtrce commented on #21
Hello,

What was the actual fix for this? I'm running into the same issue with auth0 secret. I am using this

```verify_token = "ey....." |> token |> with_signer(hs256(Base.encode64(auth0_secret))) |> verify```

but getting an invalid signature error.

[2016-05-18 15:29] bryanjos commented on #21
@dtrce the code changed completely since this issue, but the resolution was to set a configuration to not base64 encode the given secret. It looks like that configuration was lost in the rewrite, but if it's something that's needed, we can add the option to not encode the secret that is passed in.

Alternatively, in your example, you could try
[code]

And see if that gives you the expected result

[2016-05-18 16:05] dtrce commented on #21
I tried without Base.encode64 but receving an error "Invalid Signature"

[2016-05-18 21:55] bryanjos commented on #21
I will take a look when I get some free time

[2016-05-18 21:56] bryanjos commented on #123
Thanks @potatosalad. @jschoch does that help?

[2016-05-18 21:58] bryanjos commented on #21
actually @dtrce do you mind creating a new issue for this and some info on how to reproduce it?

[2016-05-19 13:26] dtrce opened #126 "Invalid signature for base 64 encoded secret"
I'm using Auth0 for authentication between phoenix and client side. Auth0 generates a base 64 encoded secret. I can verify the token on jwt.io with the checkbox "secret base64 encoded" checked. I get an invalid signature on jwt.io if I don't check the box.

I'm seeing the same error when using verify method for a token generated by Auth0. Here's the command I use to verify the token:

[code]

I tr

[2016-05-19 13:40] dtrce commented on #126
I figured out the workaround, I had to use Base.url_decode64 instead of Base.decode64. This works:

`{:ok, auth0_secret} = Base.url_decode64("client secret")`

It would be good if Joken had a flag that decodes the token if it is base 64 encoded.

[2016-05-19 13:46] cs-victor-nascimento commented on #126
Hi @dtrce!

I did not quite understand your whole scenario. Can you paste a working code that reproduces the issue? I can use jwt.io to generate a token and verify it with Joken. Actually, we used it quite often during development.

If you could paste a working code that reproduces the issue I'll take a look at it.

Thanks!

[2016-05-19 20:16] bryanjos commented on #126
I guess the best option is to add an option to not base64 encode the secret?

[2016-05-20 01:18] dtrce commented on #126
Client secret is generated by a third party provider like auth0 or Firebase, so there isn't much control on how they encode it.

I guess Joken doesn't really need any options since there are many ways a secret could be encoded unless there is a way to detect it automatically.

[2016-05-21 14:12] jschoch commented on #123
I will give it a try

[2016-05-30 15:06] hopewise opened #127 "How to use verify?"
I am sorry that I am writing this here, as this is not an issue, however I am new to elixir and I need to know how to use verify:

[code]

but how to do if statement based on if the token is verified or not?

like:

[code]

Also, how would I get the values of the payload within the token?

thank you

[2016-05-30 15:48] bryanjos commented on #123
If that works, I will close this issue

[2016-05-30 15:48] #123 closed

[2016-05-30 15:50] bryanjos commented on #126
It sounds like this may have been resolved, but an action item here might be to add the option to skip base64 encoding if item is already encoded.

[2016-05-30 16:04] bryanjos commented on #127
Hi, there are a couple of ways to do this.

First, using your example:

[code]

You can use [get_error](https://hexdocs.pm/joken/Joken.html#get_error/1) to get the error message if it exists:

[code]

Or for something more idiomatic, you can use [get_data](https://hexdocs.pm/joken/Joken.html#get_data/1) with a case statement:
[code]

[2016-05-30 17:43] hopewise commented on #127
Thanks for clarification:)

[2016-05-30 17:43] #127 closed

[2016-06-01 00:57] IamfromSpace opened #128 "Allow optional messages for failed validations for better debugging/scenario handling"
If a token has multiple validations, it is difficult to know which validation has failed and how to respond.  Custom messages could be included with each validation that could be pattern matched against so the proper action can be performed.

In this example:
[code]
If the token does not pass its validation, I get an "Invalid payload" error, but this doesn't tell me whether I should have them logi

[2016-06-01 02:24] cs-victor-nascimento commented on #128
Nice one! We just have to be careful when using this to give authentication systems too much information. Most of the time we don't want an authenticated endpoint to reply with: "your token has a role we don't recognize", "your token id was not found" and etc.

Your use case is a valid one and I am :+1: on this feature and I think we must support this. I would only be very careful with the docs to

[2016-06-01 02:33] IamfromSpace commented on #128
Awesome, I'll get the PR in asap!

And agreed on the information-leak docs.  I'll try to write up some docs that make it clear the risks if improperly handled.

[2016-06-01 02:34] cs-victor-nascimento commented on #128
@bryanjos what do you think?

[2016-06-01 13:02] bryanjos commented on #128
Sounds like a good idea!

[2016-06-01 15:08] IamfromSpace commented on #128
Sweet.  Got the WIP here: [9eefe71f4a8e7090fba793dec6a8a6b218b66fe4](https://github.com/IamfromSpace/joken/commit/9eefe71f4a8e7090fba793dec6a8a6b218b66fe4).

Think that all works currently and all previous tests pass.  Need to add new tests and docs and then I'll open the request.

Cheers!

[2016-06-03 05:07] IamfromSpace opened #129 "[Critical] Validations are Skipped if tokens do not contain the validated property"
When writing tests for #128, I discovered that validations were ignored if the token payload did not include the field/prop that was being validated.  This could accidentally open critical security holes.

For example, if I have a route that issues a token for a regular user:
[code]
And a route that needs admin privileges to access:
[code]
That above token accidentally has admin access.  To preven

[2016-06-03 13:16] bryanjos commented on #129
Thanks for finding this and for the PR. I can get to work on publishing the updates now

[2016-06-03 13:40] bryanjos commented on #129
Published:
https://hex.pm/packages/joken/1.0.1
https://hex.pm/packages/joken/1.1.1
https://hex.pm/packages/joken/1.2.1

I'll have to think about how to handle private discussions of these kinds of issues, but its a good idea.

[2016-06-03 13:40] #129 closed

[2016-06-03 15:48] redvers commented on #129
At some point there was a way to enable the ability to open private issues for security concerns.

Secondly, massive kudos for backporting to all major revisions - many people would not have.

[2016-06-04 00:04] IamfromSpace commented on #129
@bryanjos glad to help out!  @redvers thanks! I'm one of those guys always on the soap box about it, so I'd better practice what I preach, haha.

[2016-06-05 18:43] bryanjos commented on #128
Merged in the PR so I'm closing this

[2016-06-05 18:43] #128 closed

[2016-07-22 12:58] nicolafiorillo opened #132 "1.3.x alignment?"
Hi Bryan,
trying to compile it with Elixir 1.3.1, some warnings occurred (also from old version dependencies).
Are you going to align _joken_ project to 1.3.X?

Thanks!

[2016-07-22 20:48] bryanjos commented on #132
Hi Nicola,
I can take a look this weekend and update anything that is breaking and/or fix warnings

[2016-07-26 00:00] bdmac commented on #117
I eventually figured out that `rs256` expects a map instead of a string version of my public key after digging in the source code and looking at the test fixtures. I then found this thread but what's not clear to me still is how to go from the output of e.g. `ssh-keygen` to this strange (to me) map format. Whenever I've had to upload my public key to a service it's always been in the string format

[2016-07-26 02:11] cs-victor-nascimento commented on #117
Hi Bryan! Thanks for posting this!

When you say string, are you referring to a PEM encoded key?

We must certainly put that as an utility in our Roadmap. I will try to look
into it this week.

[2016-07-26 02:25] bdmac commented on #117
Yep like what you would give to github for example. Thanks!

 ~ Brian McManus

[2016-07-26 16:35] bdmac commented on #117
FWIW the reason I'm interested in RSA encryption (instead of HS) is to have the issuing "authority" sign the JWT with its private key while sharing its public key with JWT consumers (other microservices for example) for verification purposes w/out needing to make a request to the "authority" at all.

[2016-07-26 20:42] cs-victor-nascimento commented on #117
It is certainly a valid case. Just so not to block you before I take a look at this, you can check the pem functions in `:public_key.pem_encode/1` or `:public_key.pem_decode/1`. I know this is not very user friendly, but that is the way I will be looking into :)

Also, JOSE, one of our dependencies, also has a `JWK.from_pem_file/1`. You might take a look at that to get things going too.

[2016-07-27 01:45] cs-victor-nascimento commented on #117
Just another thing I thought about in the meantime is that the JWT specification does not support directly PEM encoded RSA keys. This is not to say we should not support it, but it made sense to me as to why we let this go by before.

Since this is recurring I will try to take a look at it this week. Wdyt @bryanjos ?

[2016-07-27 02:16] cs-victor-nascimento commented on #117
Just an example of using Joken with a PEM key (using jwt.io):
[code]

[2016-08-06 23:39] bryanjos commented on #132
Merged in PR to resolve these warnings. Will be in the next version

[2016-08-06 23:39] #132 closed

[2016-08-07 16:07] bryanjos commented on #126
I'm going to close this. After looking into this some more, there could be some breaking changes to adding an option for this and I'm not sure if the need for something like this is high enough. Also there are a couple of existing work arounds. One is discussed here and the other would be to pass into the Signer a full jwk map.

[2016-08-07 16:07] #126 closed

[2016-08-08 04:20] quamen commented on #117
I just ran into this myself. After some hunting around I found the `from_pem` function in `JOSE.JWK` which makes this nice and simple if you already have a PEM encoded RSA key:

[code]

Just thought I'd leave this here for anyone else who finds this issue and is wondering how to do this when you have a string instead of a `.pem` file.

[2016-08-08 12:25] cs-victor-nascimento commented on #117
Perhaps we should add this to the Readme as a an added example. Wdyt
@bryanjos?

Em 08/08/2016 1:20 AM, "Gareth Townsend" <notifications@github.com>
escreveu:

[2016-08-08 15:32] bryanjos commented on #117
@cs-victor-nascimento yes if it will help I think it should be added

[2016-08-08 16:23] cs-victor-nascimento commented on #117
I will update the README and open a PR for this later.

On Mon, Aug 8, 2016 at 12:32 PM, Bryan Joseph <notifications@github.com>
wrote:

--
Victor Oliveira Nascimento
*Concrete* *Solutions*
Senior Analyst/Developer
victor.nascimento@concretesolutions.com.br
http://www.concretesolutions.com.br
Mobile: +55 11 9 8923-8061

Rio de Janeiro                                     São Paulo
Rua São José 90,

[2016-08-11 12:35] freiden commented on #132
Hi @bryanjos,
Is it possible to know the next release date of this new version please?

[2016-08-11 13:22] aphillipo commented on #132
Hi @freiden - you can reference github in mix for the time being...

{:joken, git: "https://github.com/bryanjos/joken.git", ref: "15d3c18a1f3bfbe6fbed9d22192a36fe3114b2d1"}

[2016-08-11 15:11] bryanjos commented on #132
I'll probably publish either tonight or tomorrow when I get a chance to update the changelog.

[2016-08-11 23:52] bryanjos commented on #132
Published as 1.2.2

[2016-08-12 07:32] freiden commented on #132
Ok thanks.

[2016-08-13 14:16] bryanjos opened #138 "Update jose dependency to 1.8"

[2016-08-15 15:31] bdmac opened #139 ":jsx.decode/2 is undefined"
After updating:

[code]

It looks like you have that defined as only a test dep and jose has that defined as only a dev/test dependency. Doesn't seem like I should need to add that to my mix.deps.

[2016-08-15 16:56] cs-victor-nascimento commented on #139
Hi @bdmac!

That is intended. JSX is one of the supported JSON parsers for Joken. The idea is that if you use JSX in your app, we should not force you to use Poison. Because of that, you should explicitly add the dependency you want as a JSON parser and set it in your Joken pipeline.

You are updating from which version? There was a point in time where Joken used Poison only.

[2016-08-16 18:43] bdmac commented on #139
Sorry I get it now. I think I just hadn't updated the joken dependency in awhile so it just had not been recompiled. It probably gave the same warning the first time it compiled as well.

[2016-08-16 18:43] #139 closed

[2016-08-17 02:05] AdamBrodzinski opened #141 "Cant get plug to work with Phoenix"
I'm fairly new to JWT and plug and i'm having a hard time getting Phoenix to run the plug. I've tried using the example verbatim but there seems to be a discrepancy with Plug router and Phoenix router.

[code]

Using this in my router:

[code]

If I comment out `plug :match` then it will compile and run but no the Joken plug is not run.

Any help on debugging this would be greatly appreciated! I'd

[2016-08-17 03:17] AdamBrodzinski commented on #141
Got it... stupid mistake 😆  I forget to add `pipe_through :api` to my scope block.

Keep up the good work 🍻

[2016-08-17 03:17] #141 closed

[2016-08-19 07:34] joakimk opened #142 "Unclear if it's possible to decode a token in string form from the docs"
Is it possible to do that using this library? Seems it was in an earlier version.

If there is, maybe you could write it a bit like the [ruby-jwt](https://github.com/jwt/ruby-jwt) docs. Encode and then decode scenarios.

[2016-08-19 14:59] bryanjos commented on #142
Yes it is possible

[code]

From there you can get the claims from `my_verified_token_struct` either directly or through the helper functions

[2016-08-22 23:32] #142 closed

[2016-09-08 22:41] #138 closed

[2016-09-10 10:49] MSch opened #145 "Release new version"
Now that #144 is merged it would be super awesome for us if you could push a new version to hex.pm when you find the time. Thank you <3

[2016-09-10 16:39] bryanjos commented on #145
https://hex.pm/packages/joken/1.3.0

[2016-09-10 16:39] #145 closed

[2016-09-10 16:52] MSch commented on #145
Thank you!

[2016-10-05 14:43] nicolafiorillo opened #147 "Some warnings."
Not a big deal but compiling from clean build I get some warnings:
[code]

[2016-10-05 15:07] bryanjos commented on #147
Thanks, would gladly accept a PR for the first warning. The second one is a bit tricky because we support the jsx module optionally. I know there is a way to only compile or use things if an elixir module is not loaded, but not sure if the applies to an erlang module (I just haven't tried).

[2016-10-05 17:05] bryanjos commented on #147
Closed with #148

[2016-10-05 17:05] #147 closed

[2016-10-21 14:48] QuentinFchx opened #150 "Unlock poison dep"
Poison lib is now 3.x (https://github.com/devinus/poison).
Is it possible to unlock the dep ?
currently `{:poison, "~> 1.5 or ~> 2.0", optional: true}`

[2016-11-04 08:38] leifg commented on #150
What's the status on this? I just tried it out with poison 3.0, the tests work.

[2016-11-04 13:34] cs-victor-nascimento commented on #150
Opened simple PR that unlocks it. All tests passed :)

[2016-11-04 13:45] leifg commented on #150
👍

[2016-11-04 13:49] bryanjos commented on #150
Published: https://hex.pm/packages/joken/1.3.2

[2016-11-04 13:49] #150 closed

[2016-11-17 09:38] QuentinFchx opened #152 "Lazy auth"
Hi,

I'd like to implement a lazy auth:
If the user has a token, parse it and set claims, otherwise just move along without failing.
I don't think it's currently doable with the bundled plug.

Do you think it could be part of that lib (through options such as `:joken_skip`)?

[2016-11-17 23:21] cs-victor-nascimento commented on #152
Hi @QuentinFchx! I think that in your use case it is best to have an anonymous session than having no authentication at all. This is how, usually, e-commerces implement this feature.

Otherwise, you could have different routes and skip the one with the current plug. Though this seems more like a workaround.

If all else fails, you can implement your own plug. It is only one file that depends on Jo

[2016-11-18 20:17] aphillipo commented on #152
Write your own plug; it's very simple to do so and it'll be a lot simpler than the Joken.Plug which has a few options.  It doesn't sound like you need the options at all, just to add to assigns[:claims] or not if verify! returns {:okay, token} or {:error, message}.

It's literally just the call function you need to implement.

[2016-11-18 21:34] bryanjos commented on #152
I agree. I had conflicted thoughts on this, but I think leaving it out here and defining your own plug in your project using joken to handle the authentication case is a good idea.

[2016-11-18 21:34] #152 closed

[2016-11-24 19:32] marpo60 opened #154 "Add cross claims validations"
Hi,

Im facing the following situation: in order to validate a claim I need to know the value of other claim.

Right now this is not possible given that [with_validation/4](https://hexdocs.pm/joken/Joken.html#with_validation/4) function only takes into consideration the the claim value and [as far as I see](https://github.com/bryanjos/joken/blob/e004dc0f33069813e92823c095f00f7742c3de1b/lib/joken/s

[2016-11-24 19:39] cs-victor-nascimento commented on #154
You are right that there is no clean way of implementing it right now. We could add a `with_token_validation/3` for these cases. The rules would be that it must be called __after__ all claim validations.

@bryanjos WDYT?

[2016-11-25 01:48] bryanjos commented on #154
We could add something like that. Maybe looks like this?

[code]

Why would it have to be after the other claim validations? Should we pass in the entire token or just the claims?

[2016-11-25 02:12] cs-victor-nascimento commented on #154
I`d pass only the claims as to avoid messing with the JOSE header or the signature.

I thought about prioritizing `with_validation/4` calls up front because if you want to cross-validate claims it is better if they are already valid. I mean: you can have validations for specific claims and then a cross validation scenario. What do you think?

[2016-11-25 13:32] bryanjos commented on #154
The more I think about it, the more I like @marpo60's suggestion. It is explicit in the claims you want passed in to validate. It would be something we could implement easily I think (add a check for a list of claim names, use `apply` to send them to the function that should have an arity matching the length of the list). We wouldn't have to add a special case for the token validation.

I don't th

[2016-11-25 14:17] marpo60 commented on #154
I don't think order should matter either.
Both option `with_token_validation` and `with_validation` with a list of claims would work.

Once we know the way we want to proceed I can start working on a PR

[2016-11-26 01:33] cs-victor-nascimento commented on #154
Yeah you are right! I was micro optimizing... I`ve forgotten that we run all validations.

It makes sense :)

[2016-11-27 15:39] bryanjos commented on #154
My vote is for going with updating `with_validation/4` to optionally accept a list of claims. I think the only changes needed would be in the validation code in the Signer module.

[2016-12-01 14:48] #154 closed

[2016-12-08 22:21] evbogdanov opened #156 "Typo in Readme"
I believe **iaf** should be **iat**

[2016-12-09 05:31] loeschg opened #157 "Unable to decode JWT without signature"
I have the following JWT which is decoded fine with other online tools:

[code]

I need to first decode the jwt (without the proper signature) to grab a token to get the proper secret to verify the JWT. I can't seem to get this to work with this library. Is this use case supported?

[2016-12-09 06:32] loeschg commented on #157
Ugh. Looks like I missed `Joken.peek/1`.

[2016-12-09 15:22] bryanjos commented on #156
Thanks for spotting that. Fixed

[2016-12-09 15:22] #156 closed

[2016-12-09 15:27] bryanjos commented on #157
It's in the docs already and I think that's sufficient. If it becomes a bigger use case than it is currently, I then we can revisit putting info there.

[2016-12-09 16:42] loeschg commented on #157
👍

[2016-12-09 16:42] #157 closed

[2016-12-20 16:37] hopewise opened #158 "{:error, "Invalid signature"}. Expected {:ok, socket} or :error"
hello,

I am sure that I am using a valid token and the same algorithm used with the issued JWT token that I am trying to verify, however, I still get error {:error, "Invalid signature"}

[code]
I am using the latest version of joken, here is my deps:

[code]

elixir version:
[code]

Any idea?

[2016-12-20 17:02] cs-victor-nascimento commented on #158
Usually for me this boils down to whitespace or new line characters somewhere. Try to log the call to `Application.get_env(:trackware, :jwt_secret_key)` and see if there is a new line involved.

Otherwise it should pass. It should have no trouble at all with HMACs.

Another thing that comes to mind is that the token might have some of its characters escaped. It can happen if you are receiving the

[2016-12-21 10:46] hopewise commented on #158
Thanks, but I found that if I remove the "Bearer " from the token, it will work normally!

[2016-12-22 01:43] cs-victor-nascimento commented on #158
All right! I will be closing this issue then. If anything appears after that, please reopen it.

[2016-12-22 01:43] #158 closed

[2017-01-17 03:01] smitchelus opened #159 "Help figuring out how to resolve "kid" field in JOSE header"
Hi, I'm gotten basic decoding/verification going using Joken without issue. However, I will be receiving tokens with a JOSE header that provides a "kid" attribute to allow us to identify which key was used to sign the token. I have yet been able to figure out how I can go about reading inserting a key lookup function into the pipeline with Joken. I did see the peek function. However, that appears

[2017-01-18 15:23] bryanjos commented on #159
@smitchelus hi, I think you are correct there isn't anything there for header verification. You would need to see what is in the header in order to validate it, is that correct?

[2017-01-18 20:16] smitchelus commented on #159
Correct, at a minimum, I need to get access to the header JSON so that I could pull the kid value to lookup the correct key to then verify the token.

[2017-01-19 14:58] bryanjos commented on #159
Got it. Joken uses the peek function from erlang-jose to handle this. Looks like there is a peek_protected as well to get the header info.

I'll make an issue to add in a way to peek at the header and hopefully get it resolved tonight or tomorrow. Would that work?

[2017-01-19 15:02] bryanjos opened #160 "Add Ability to peek into header"
Right now Joken doesn't have a function to peek into the header. Jose does have a function to do so

https://hexdocs.pm/jose/JOSE.JWS.html#peek_protected/1

We should add header info into the token created from peek

connects to #159

[2017-01-20 14:04] smitchelus commented on #159
That would be perfect. Thanks!

[2017-01-20 16:33] #160 closed

[2017-01-20 23:41] bryanjos commented on #159
Added `Joken.peek_header/1` in version 1.4.1 https://hex.pm/packages/joken/1.4.1

[2017-01-20 23:41] #159 closed

[2017-01-21 11:33] smitchelus commented on #159
Looks great. Thanks so much!

[2017-02-13 11:40] iSuslov opened #166 "Help needed. Can not decode and validate token"
I want to decode and validate google firebase token but can not get it work. Every time I get validated token with error: "Invalid signature".

[Google says ](https://firebase.google.com/docs/auth/admin/verify-id-tokens#verify_id_tokens_using_a_third-party_jwt_library) alg is `RS256` and key should be retrieved from this url https://www.googleapis.com/robot/v1/metadata/x509/securetoken@system.gser

[2017-02-13 12:27] cs-victor-nascimento commented on #166
Okay! There are a couple of things going on here.

First, a RSA key is composed of several parameters. An example of a RSA key is in the test dir of Joken. I'm pasting here for reference:

[code]

What you are getting from that endpoint are 3 keys encoded in a different format. That is a PEM encoded key. Each encoded key (for example, the key with id `0ff622a9f8d659deabbac10f9649eb4d402563be`) has

[2017-04-06 14:11] cs-victor-nascimento commented on #166
@iSuslov Did it work for you? Can we close this one?

[2017-04-07 03:23] iSuslov commented on #166
@cs-victor-nascimento it did not because of my poor knowledge of Elixir. I decided to implement this part in nodejs. So probably you should close it

[2017-04-08 17:34] #166 closed

[2017-05-31 09:43] jxxcarlson opened #168 "Trouble configuring Joken plug (catch 22 & my noobness)"
Hi there, I'm having trouble configurig the Joken plug.  In the `router.ex` file as it stands below, I get this error message:

[code]

I've tried the following: (1) Remove ` use Koko.Web, :router`: doesn't work because then `pipeline` is undefined; (2) Remove `use Plug.Router`; doesn't work because then `match` is undefined.  What should I be doing instead? 😄

[code]

[2017-05-31 15:34] bryanjos commented on #168
@jxxcarlson if you are in a phoenix app, you don't have to use the `match` or `dispatch` plugs so i think you can remove those.

[2017-07-11 23:35] ItsRaWithTheH opened #169 "no function clause matching in Joken.Signer.rs/2"
In a  Phoenix App. trying to use Joken.Plug in the router gives me an error at runtime

[code]

This is the router code:
[code]

I am currently using joken 1.5.0

I cannot seem to see what is wrong as the Joken.Signer.rs convenience function does indeed take 2 parameters

[2017-07-12 00:12] ItsRaWithTheH commented on #169
Update. My issue was trying to use a RS256 token which doesnt just work with a string secret. I have changed to use hs256 token

however i still get a "Could not verify token" response even though i have the hs256 secret correct (tested with jwt.io)

[2017-07-12 13:40] cs-victor-nascimento commented on #169
Hi @ItsRaWithTheH!

Well, your second issue seems a bit strange... we will need more info to understand why it is failing.

Can you provide us with more info? This message might indicate a claim is not valid.

[2017-07-12 15:14] aphillipo commented on #169
Yes, I’m sure it would help to provide the JWT, both encoded and unencoded so that people can attept to reproduce your issue.

[2017-07-12 15:43] bryanjos commented on #169
I think it is because joken assumes the secret is not base64 encoded and jwt.io's demo has the secret as encoded. There is a comment on a closed issue [here](https://github.com/bryanjos/joken/issues/126#issuecomment-220327039) about it

[2017-07-12 21:37] ItsRaWithTheH commented on #169
I am using an auth0 generated token for an example application
eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJuYW1lIjoiUmFodWwgTWFoaWRhIiwibmlja25hbWUiOiJJdHNSYVdpdGhUaGVIIiwiaXNzIjoiaHR0cHM6Ly9pdHNyYXdpdGh0aGVoLmF1dGgwLmNvbS8iLCJzdWIiOiJnaXRodWJ8NTM5MzU2MSIsImF1ZCI6Im1BTzA5dUE5ejViOUJjTEVtczJ2YWNLRFowNlpmSkhOIiwiZXhwIjoxNDk5ODU0MTc1LCJpYXQiOjE0OTk4MTgxNzV9.ha24ogf-3oQhrh-laLIpbMc2-bB-UMjK2MccKK_dy4s

ac

[2017-07-17 02:04] cs-victor-nascimento commented on #169
@ItsRaWithTheH I tried to decode your token with hs256 using both "secret" (jwt.io default) and "my_secret_key". Obvisouly you've edited it for posting here and that is perfectly ok.

Not sure how you are generating your token but I can see that you have iat and exp claims. Be sure they are being properly validated. Try adding some validations to your verify function ([here](https://github.com/bry

[2017-09-06 08:34] raarts opened #170 "Why not pass conn to the plug callback functions?"
When the Plug is used in Phoenix, one would also like to put the claims into the conn structure, which the Plug does not pass. So currently it's required to decode the token twice, which incurs extra cpu time.

Would it be an idea to pass the conn to the callbacks?

[2017-09-06 08:43] aphillipo commented on #170
Looking at the code it seems the plug should be setting :joken_claims ?

https://github.com/bryanjos/joken/blob/4e7d34f4020ee1346f4c437e0c555589e1173132/lib/joken/plug.ex#L181

I suppose if it's not doing this that is a bug?

[2017-09-06 09:04] raarts commented on #170
Whoops! Completely missed that. Thanks!

[2017-09-06 09:04] #170 closed

[2017-09-12 11:35] the-shank opened #171 "Regarding validation for "exp""
I am generating a token with an expiry of 1 seconds and a single other claim (`email`) as below:

[code]

Then I sleep the process for 2 seconds

[code]

Next I verify the token, including the validation for `"exp"`

[code]

From what I understand, this token should fail at the validation due to `"exp"`, but it is not. Is my understanding incorrect or am I missing something?

[2017-09-14 16:47] cs-victor-nascimento commented on #171
What is happening is this:

`token()` function adds a *dynamic* claim "exp" to the struct. This means it adds "exp" claim with:

[code]

What this means is that the validation depends upon a dynamic value (in that case the `current_time()`) which is evaluated only when you call sign. To do that we have a field in the struct to keep that function `fn -> current_time() + (2 * 60 * 60) end` for being

[2017-09-14 16:47] #171 closed

[2017-09-15 04:22] the-shank commented on #171
Thank you for the detailed explanation ! Makes sense now :)

Do you think it would be a good idea to add this information to the README file?

[2017-09-15 21:51] cs-victor-nascimento commented on #171
Surely! That would help a lot! Can you send us a PR with that?

Thanks!

[2017-09-16 09:38] the-shank commented on #171
Great, will do it today itself!

[2017-09-30 06:52] aaruel opened #173 "Adding Joken.Plug strips the :private field"
Using just Plug (not Phoenix) I have the whole token system set up except for being able to `:joken_skip` routes. I set up a test to read `conn.private` before reaching the Joken plug like so

[code]

pinging a route like `get "/", private: %{joken_skip: true}, do: send_resp(conn, 200, "hello")` returns this for `conn.private`

[code]

Note that `:joken_skip` is missing and I get sent back `Unauth

[2017-09-30 15:52] aaruel commented on #173
Amazing what some sleep can do, I figured it out. I wasn't skipping token verification on the forwarding routes which was not allowing plug to match the route I was testing. Like this for example:

[code]

This library is great by the way, thanks

[2017-09-30 15:52] #173 closed

[2017-09-30 16:16] aaruel commented on #173
Another thing I found out is if you skip token verification for the forward it skips it for all child routes, so what I ended up doing is adding an option to the macro which conditionally removes the Joken.Plug from parent routers, and it works as expected.

[2017-10-04 02:36] bryanjos commented on #168
Going to close this. Assuming it has been resolved or no longer a concern

[2017-10-04 02:36] #168 closed

[2017-11-15 19:11] sebastialonso opened #174 "Weird behaviour with get_compact"
Joken 1.1

I have the following funciton
[code]

It works as expected. If I add `get_compact` at the end of the pipeline. I get a Joken.Token struct with the error entry populated: `error: "No compact token set for verification"`. However, If I type the commands in succession in iex, it works as expected.

To get the actual token, I had to add the following line
[code]

So, I presume something is

[2017-11-15 19:46] sebastialonso commented on #114
Just to clarify, what @curtislinden says doesn't return the expected "Signature has expired" message.

You can have the message by doing `with_validation("exp", &(&1 > current_time()), message: "Signature has  expired")`

[2017-12-08 16:32] konradkalita opened #175 "How to generate token with RS256 from secret key?"
Hello, I need to generate JWT for firebase (as described [here](https://firebase.google.com/docs/auth/admin/create-custom-tokens#create_custom_tokens_using_a_third-party_jwt_library)). I have a private key in format:
 `'-----BEGIN PRIVATE KEY-----\nMIIE...\n-----END PRIVATE KEY-----\n"`
 How can I use it to generate map needed for `rsa256` function?

[2017-12-08 16:41] cs-victor-nascimento commented on #175
Hello! Welcome to Joken :)

The format you are referring to is PEM. Although the name stands for Private Enhanced Mail, it is actually a standard for saving certificates.

Joken does not provide an encoder for that format out of the box but good news is that if you depend on Joken you also depend on JOSE which has nice built in functionality. You can do something like:

[code]
Hope this helps!

Si

[2017-12-08 16:41] #175 closed

[2017-12-08 16:57] cs-victor-nascimento commented on #174
Very strange behaviour indeed. We actually have a test that does exactly that [here](https://github.com/bryanjos/joken/blob/master/test/joken_test.exs#L508).

Just as a simple test, could you pass the signer to the sign function? That would be:

[code]

[2017-12-26 22:53] anthonylebrun commented on #171
"a bit surprising" <- this :D

[2017-12-27 19:53] victorolinasc commented on #171
Yeah I know... I have some plans on updating this library during January to a less confusing API, better docs and more examples. Stay tuned :)

[2017-12-28 08:09] domino14 opened #176 "I keep getting "Could not verify token" no matter what I do"
With no error message as to why it can't verify the token.

My verify function looks like this now:

[code]

This is using Plug/Phoenix. I know the secret is correct because if I do `@jwt_secret <> "x"` it tells me "Invalid signature" when I try running it. I've boiled down my token to the simplest possible thing:

```eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.e30.0HgydrRCRtJ7ILCoaOaj3qz971zI2u2eHZ5HraC

[2017-12-29 01:35] domino14 commented on #176
The issue here was that I needed to specify a JSON encoder. This didn't seem to be required from some of the examples and tests.. but I figured out the issue.

[2017-12-29 01:35] #176 closed

[2018-01-08 13:44] victorolinasc opened #177 "Update dependencies"
We should update deps and add support for different JSON encoders (like [Jason](https://hex.pm/packages/jason)).

[2018-01-08 13:48] cs-victor-nascimento opened #178 "Clean optional native deps"
I would like to remove all the optional extras besides libsodium from the repo. We don't have clear compiling instructions and after digging a little bit further, they are not being updated and haven't lost their WIP status. So, my guess is it's safer to just remove them. We could even remove libsodium but I think it has a more stable status currently. Some of the others are tracking old versions

[2018-02-14 15:47] AionDev opened #179 "I can verify the signature with both private_key and public_key - is this normal?"
I would like to know if it's expected behavior that i'm able to verify something with the `private_key`

[code]
From [this security exchange answer](https://security.stackexchange.com/questions/9957/can-i-use-a-private-key-as-a-public-key-and-vice-versa?newreg=dabdf0c0adc54dcda961e1787ce8559c):

Based on this, only the `public_key` should be able to decrypt what was encrypted with the `private_key

[2018-02-14 16:35] victorolinasc commented on #179
Hey @AionDev ! When it gets down to crypto we are all beginners :)

Your code works because an RSA private key always "contains" the public key too. If you look [here](http://erlang.org/doc/apps/public_key/using_public_key.html), you will see that the record for the RSA key always contain the public key data.

So, you might ask: why do I need both?

Well, the use case for JWTs are not for clients

[2018-02-14 16:35] #179 closed

[2018-02-14 18:33] AionDev opened #180 "Can't set an expiration time longer then 7200 seconds."
From what i understand, this function [`with_exp/2`](https://hexdocs.pm/joken/1.5.0/Joken.html#with_exp/2) is supposed to allow me to set a custom expiration time. Using [`with_exp/1`](https://hexdocs.pm/joken/1.5.0/Joken.html#with_exp/1) gives 2 hours expiration time by default.

I want my token to be valid 1 year.

[code]
I get this token:
[code]
By verifing with [jwt.io](https://jwt.io/) the to

[2018-02-14 19:46] victorolinasc commented on #180
This is a bad API decision on our part and one of the reasons we are preparing a v2 of Joken.

What is happening here is that exp is a a dynamic claim. That means: its value should be generated when we sign the token. The issue is that with current API we have both `claims_generation` and `claims`. So, when you set exp to a static value it gets overwritten by the dynamic value.

What you *can* do

[2018-02-15 00:24] victorolinasc commented on #180
Can we close this one for now? I know it is not the best API currently, but it is kinda of "solved" I guess.

[2018-02-15 19:23] AionDev commented on #180
@victorolinasc yes go ahead. The provided solution worked just fine. Thanks 😄

[2018-02-16 19:48] #180 closed

[2018-03-05 22:32] JonRowe opened #183 "Joken token constructed from struct unable to pick JSON decoder"
In the documentation the basic recommended verifier function for the plug doesn't work when you have a JSON payload (criteria?).

[code]

By contrast constructing a token from a compacted token will match and verify e.g.

[code]

The difference is in the first example you have to specify a JSON decoder for it to match (shout out to #176 for that info), it is automatically detected however in the s

[2018-03-08 10:29] raarts opened #184 "Confused about naming the verify callback function on the plug"
Hi, I am confused about why the callback function for the Plug is called `verify`.

As I understand it, that function does not actually verify a token, but instead creates more or less a 'template' Joken.Token struct where the incoming token is inserted into, after which it is verified using the (lib internal) `verify/1` function.  This all happens in parse_auth. And then the `evaluate` function i

[2018-03-12 01:31] victorolinasc commented on #184
Hi @raarts. Thanks for your feedback.

You are totally right that the current API has some confusion about naming its functions or strategies. We are working on a version update to address all of this.

The issue arises from constructing the token configuration or accepting a compact token. Since everything is inside the Joken.Token struct and since we have a "token" function things got out of han

[2018-03-12 01:31] #184 closed

[2018-03-12 01:35] victorolinasc commented on #183
This is because we did not provide a default Poison value for the decoder. We will be changing to Jason as a default decoder on version 2 and will make sure it is set no matter how you configure Joken.

I'll update the README to make this explicit though while we don't release a version 2.

Thanks for your feedback. I'll close this one when the README is updated.

[2018-03-12 01:39] victorolinasc commented on #183
Fixed with d934340d58fe3e69f3d8da88eef532f588b15786

[2018-03-12 01:39] #183 closed

[2018-05-16 20:24] sb8244 opened #186 "High reduction usage"
Hi, I'm tracing an issue with jose_server having a very large number of reductions in production. I'm not entirely sure of throughput level, but let's say it's 100-1000 calls per minute.

I believe that I've traced the `jose_server` process back to the `json_module` gen_server call with `Poison` as the argument. I traced this into Joken to line https://github.com/bryanjos/joken/blob/e5194c5f5a2b0c

[2018-05-16 20:41] victorolinasc commented on #186
We are changing this in Joken 2.0 (which will be a non-backwards compatible update).

You are right that you can do it only at application bootstrap. Internally this is implemented in JOSE as gen_server that holds its config. See source [here](https://github.com/potatosalad/erlang-jose/blob/master/src/jose_server.erl#L109). After set once, it is kept on an ets table.

[2018-05-16 20:45] sb8244 commented on #186
Thanks @victorolinasc . For now, I solved this by manually casting to `Joken.Token` struct and setting the json_module field to `Poison`

[2018-05-16 20:45] #186 closed

[2018-08-09 00:52] victorolinasc commented on #177
Fixed on #185

[2018-08-09 00:52] #177 closed

[2018-08-09 00:53] victorolinasc commented on #178
Fixed on #185

[2018-08-09 00:53] #178 closed

[2018-08-09 00:54] victorolinasc commented on #169
Since we've just released 2.0.0-rc0 that was a complete rewrite and since this did not have any activity, I'll close this.

If the issue persists, please re-open. Thanks!

[2018-08-09 00:54] #169 closed

[2018-08-09 00:55] victorolinasc commented on #174
We've release 2.0.0-rc0 that has a complete different API. Since there was no activity on this issue, I'll close it here. If the issue persists, please re-open it. Thanks!

[2018-08-09 00:55] #174 closed

[2018-08-09 01:02] victorolinasc opened #187 "[DISCUSSION] Per-claim optional processing"
Joken configuration now has a `Joken.Claim` struct which has a `:options` field. This came from the #182 PR. We could add custom messages, skipping the claim if some condition match and whatnot.

Ideas are welcome here.

[2018-08-21 23:27] weixiyen commented on #186
Thanks, will manual cast for now on Joken 1.3 (I have ex_twilio which deps on 1.x still).

Will edit to confirm that manual casting fixes the issue, but I'm guessing that was it.

[2018-08-21 23:30] victorolinasc commented on #186
That was one of the reasons we went with 2.0.

Sorry for any inconveniences! I'll take a look at this dep to see if I can propose a PR for updating it to 2.0 once it its out.

[2018-08-21 23:42] weixiyen commented on #186
No worries.  Thanks!

[2018-08-23 23:06] weixiyen commented on #186
Just writing back to confirm that this is indeed the bottleneck, and manual casting solved everything, thanks for the awesome library.

[2018-09-06 11:54] michallepicki opened #191 "Code links from hexdocs are broken"
Looks like `v1.5.0` tag is missing: https://github.com/bryanjos/joken/blob/v1.5.0/lib/joken.ex#L140

[2018-09-09 19:48] victorolinasc commented on #191
Sorry for the inconvenience! We pushed 1.5.0 instead of v1.5.0.

I've just pushed v1.5.0 and all links should be correct now. If not, please reopen!

[2018-09-09 19:48] #191 closed

[2018-10-19 14:25] victorolinasc opened #196 "After_* callbacks in hooks are skipping validation"

[2018-10-24 16:04] ajkeys opened #197 "verify_and_validate parameter ordering question"
I'm using 2.0.0-rc2

I did not set any Joken config and my token module is:

[code]

I'm needing to dynamically pull the signer so I'm using this code to verify and validate

[code]

The last line fails with `{:error, :empty_signer}`. The explicit signer example in the introduction seems to indicate that I can just do `MyApp.Token.verify_and_validate(token, signer)` but that doesn't seem to work.

[2018-10-24 19:49] victorolinasc commented on #197
Awesome! Thanks!

Yeah this was my bad. In `Joken.verify_and_validate/5` the signer is the third parameter because we need the token config as the first. You are right. I'd appreciate a PR fixing this.

Just to guess are you using it with JWKS? Is that the reason of your dynamic signer? If it is so, I am awaiting for some more feedback to release 2.0 and then release this other library: https://gi

[2018-10-25 17:37] victorolinasc commented on #197
Thanks for your contribution!

Please, feel free to give us more feedback on the API and I hope `joken_jwks` works for you too!

We are thinking about creating an organization to collect projects there like joken, joken_jwks, joken_plug or phoenix and finally a joken_crypto to replace erlang-jose and benefit from a speed bump in the hot path using only built-in algorithm in OTP (like RS***, HS***

[2018-10-25 17:42] #197 closed

[2018-11-02 16:20] jjl opened #201 "2.0 timeline"
Hi,

Do you have an indication of how long it'll take to stabilise Joken 2? Is there anything I can do to help move it forward?

Cheers,
James

[2018-11-05 20:50] victorolinasc commented on #201
Hi @jjl

There is, currently, only 1 bug with hooks. I'll try to take a look into it this week. Cannot guarantee you a timeline but I think this weekend we are good to go 2.0.0 final.

There will probably be a 2.1.0 with pluggable crypto (using built-in algorithms) in the near future but that won't change the public API.

We will probably move this to a github organization so that we can group pro

[2018-11-19 11:24] joudinet opened #202 "rebar.config lists a dependency to a branch instead of a fixed version."
Hi,
I'm in the process of adding your project to Buildroot (see buildroot.org) but I notice it depends on a project without specifying which version:
[code]
I suggest you fix the version at least when you make a release of your project. Thanks.
Best,

[2018-11-19 11:25] #202 closed, assigned to nobody

[2018-11-19 11:30] victorolinasc commented on #202
No problem. This is a dependency of [erlang-jose](https://github.com/potatosalad/erlang-jose/).

[2018-11-20 15:00] brianbroderick opened #203 "Jason vs. Poison"
Phoenix 1.4 has moved to using Jason instead of Poison.  What are the chances that Joken could be configured to use Jason as well?

[2018-11-20 20:08] victorolinasc commented on #203
Hey @brianbroderick !

We are on the verge of releasing versino 2.0 (still some minor nitpicks on my part before that) but it will certainly come with Jason as a default. Its dependency will still be optional as we don't want to force that but it will be as easy as adding the dep.

If you want to know how to use Jason with current Joken 1.x the implementation is [here](https://github.com/joken-eli

[2018-11-20 20:52] brianbroderick commented on #203
Thanks for the quick feedback! I'm looking forward to version 2!

[2018-11-20 20:52] #203 closed

[2018-11-21 19:31] victorolinasc commented on #196
Fixed on master

[2018-11-21 19:31] #196 closed

[2018-11-21 22:43] victorolinasc commented on #201
Timeline is clearer now. Please read the last RC release notes: https://github.com/joken-elixir/joken/releases/tag/v2.0.0-rc3

I'll close this now. If we the plan fails, please re-open the issue!

Thanks once again and cheers!

[2018-11-21 22:43] #201 closed

[2018-11-30 13:11] victorolinasc opened #205 "Joken.Config.default_claims/1 skip option is wrongly documented (it accepts atom, not binaries)"
Currently [here](https://github.com/joken-elixir/joken/blob/master/lib/joken/config.ex#L244) the example show a string list while we are testing for an atom list like [here](https://github.com/joken-elixir/joken/blob/master/lib/joken/config.ex#L244).

The atom example must be on the documentation.

[2018-12-03 15:52] brweber2 opened #206 "verify_and_validate regression in rc3"
Between 2.0 rc2 and rc3 my code stopped working.

I have a module MyToken

[code]

When I call verify_and_validate and pass it my JWT token it no longer works.

[code]

I see that some changes were made to verify_and_validate since rc2, but the issue isn't obvious to me or I would have submitted a pull request with a fix.

Thanks!

[2018-12-03 16:20] brweber2 commented on #206
Finally tracked down a little more detail, but not much:

[code]

That code prints the following:
[code]

[2018-12-03 16:49] victorolinasc commented on #206
@brweber2 thanks for testing out the RCs :)

Well, that is strange. It was **not** supposed to work without a signer. It should be possible to begin without a signer but a before_* hook should _add_ the signer. We use that strategy with `joken_jwks` for example where we fetch the signer for verifying the token from a URL.

The thing is: before_* hooks might have an empty signer but verify/sign **n

[2018-12-03 17:00] brweber2 commented on #206
Ah, so the hook might be the issue. I'm using a hook from:
[https://github.com/joken-elixir/joken_jwks](https://github.com/joken-elixir/joken_jwks)

[code]

That hook probably needs to be updated? I will dig a little more....

[2018-12-03 17:04] victorolinasc commented on #206
Yeah! It wasn't updated yet... sorry!

I am working on a more resilient solution on that side too.

[2018-12-07 06:15] brianmay opened #207 "multiple public keys"
Seems Google provides multiple public certificates to use for verifying tokens, in different formats:

* https://www.googleapis.com/oauth2/v3/certs
* https://www.googleapis.com/oauth2/v1/certs

This token is supplied by Google and required to verify the user of the Google Actions service.

Just wondering if there is any easy way of using these with Joken? So far I have used the 2nd certificate onl

[2018-12-07 14:04] victorolinasc commented on #207
Hi @brianmay (what a name!!! I'm a fan hehe)!

These formats, standards and so on are a lot confusing unfortunately... Let's try to get to the bottom of it.

Both URLs have different contents:
- v1 is a map of cert_id -> certificate
- v3 follows the JWKS specification where it has a list of JWK (JSON Web Keys). This is a standard that Joken knows how to read properly.

So on v1 the certificates ar

[2018-12-08 08:38] brianmay commented on #207
Thanks for you response. So if I understand correctly, I should be using the v3 format, which I am not actually doing right now, but it won't work unless I downgrade or wait for a fix.

Are you able to provide an example of how to define a v3 format certificate?

I see you gave a reference to `joken_jwks`, but not really sure what you are referring to, sorry.

[2018-12-10 12:48] victorolinasc commented on #207
@brianmay let me explain a little better.

v1 is not meant for JWTs validation. When you need to validate a JWT from an auth server *usually* it means the provider has a valid JWKS URI. That is a list of public keys the server uses to generate the token.

v3 is the endpoint for Google's JWKS URI. It is listed as the JWKS_URI on [its discovery document](https://developers.google.com/identity/protoc

[2018-12-16 04:40] brianmay commented on #207
OK, thanks for your help. Currently trying option 2, and I downgraded to 2.0.0-rc2, and installed JokenJwks via git (doesn't seem to be on git yet), and so far it appears to be working. Fingers crossed. Thanks.

[2018-12-16 12:45] victorolinasc commented on #207
Hey @brianmay! Awesome!

I'll close the issue now but if anything comes back just reopen it or open a new one.

[2018-12-16 12:45] #207 closed

[2019-01-02 12:02] victorolinasc commented on #205
Fixed on master. Will be released on 2.0.0 final

[2019-01-02 12:02] #205 closed

[2019-01-11 12:43] Nickforall opened #210 "Providing an incorrectly formatted PEM formatted key hangs"
Hey there!

I have an application where we use a jwt signed with the RS256 algorithm. I accidentally provided my public key with an extra newline, which caused the VM to use 100% cpu usage, eventually leading to my http request timing out.

## Steps to reproduce

* Setup joken with a "RS256" algorithm and public key
[code]
* Have a formatting error in your `jwtRS256_tests.key.pub`, in my case this

[2019-01-14 22:41] sgtpepper43 opened #211 "Signer is empty if it is not available at compile time"
When `using` `Joken.Config`, it expects the default signer to be defined at compile time. But some of as are relying on `env` vars that might not exist at compile time, and even then can be swapped out without recompiling. If [this line](https://github.com/joken-elixir/joken/blob/master/lib/joken/config.ex#L150) was changed to be a function rather than a module attribute, that would alleviate this

[2019-01-15 14:31] sgtpepper43 commented on #211
But I'd hate to break any performance optimizations for everyone else, so I'll see if we can either have both or try tl prove that it's just as performant with the PR I've got open

[2019-01-15 20:52] victorolinasc commented on #211
@fireproofsocks thanks for the feedback! I will look into making the examples clearer about that.

Will also update the documentation about what goes into `config.exs` and friends.

For your specific use case, you could simply use:

[code]
This is a "shortcut" that I've just noticed is not on the docs Oo. That way the algorithm will be HS256.

For all other cases, you can use keyword lists for con

[2019-01-15 21:42] fireproofsocks commented on #211
THANK YOU! That example got me to a place where things are working and in hindsight I can see what was meant by the docs.  It would be super-helpful to include examples of at least each type of the keys (HMAC, RSA, EC) because the options used for each are extremely different.

[2019-01-15 22:56] victorolinasc commented on #211
I've thought about an example for each type of key but are already better documented by the specs of JWA and JWK IMHO.

There is the most used example of RSA too [here](https://hexdocs.pm/joken/signer.html#all-other-keys). But there are many use cases and it would be gigantic... for example, RSA can be public and private as can all the others and their parameters are different.

I am thinking of d

[2019-01-15 23:02] victorolinasc commented on #210
Ouch!

Thanks for reporting. I'll be looking into that to see what is causing that... Just to be extra sure, can you provide: OS, OS version, Erlang and Elixir versions? If it is not much to ask, could you also provide which version of OpenSSL you have on your machine?

Thanks in advance!

[2019-01-15 23:11] victorolinasc commented on #210
I can't reproduce locally unfortunately. I tried this config:

[code]

It ran instantaneously (what a difficult word to write...). After you provide your environment details I can check more things.

[2019-01-15 23:11] Nickforall commented on #210
### Better reproduction
I haven't been able to always reproduce it recently, but here is an example key that causes it
[code]

I have been able to reproduce both locally and in production

## Local machine
* LibreSSL 2.6.4
* Erlang: `Erlang/OTP 21 [erts-10.0.4] [source] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1] [hipe] [dtrace]`
* Elixir 1.7.2

## Production environment
* This docker ima

[2019-01-15 23:12] victorolinasc commented on #210
Wow that was fast! I'll look more into it now!

Thanks

[2019-01-15 23:14] Nickforall commented on #210
Haha, no problem! Now that I think of it, I'm not 100% sure it's caused by newlines. Might also be the extra spaces.

[2019-01-15 23:17] fireproofsocks commented on #211
For what it's worth, I struggled for a full day trying to make joken work with the existing documentation and I failed until the example you shared above finally made me understand how you were relating the various parts together.  The "example" at https://hexdocs.pm/joken/signer.html#all-other-keys is not an example, it's just a map out of context.  I had no idea how that was supposed to fit into

[2019-01-15 23:19] victorolinasc commented on #210
Even using your key I couldn't reproduce it. One thing to note though is that your multi line string is a bit odd to my eyes...

Normally I'd use `"""` and end it on the column we want it to be the first. So, it'd be like this:

[code]

Anyway, I tested both ways and they pass with flying colors on my machine. I'm trying to recall the 1.7 release cycle and I "think" there was a bug about the [beam

[2019-01-15 23:22] victorolinasc commented on #211
Hahaha you are 100% right about that!

I'll add more examples and "real" ones... not just a map without context.

Thanks once again for the feedback. Perhaps we'd better open a new issue about signer example configuration. What do you think? We've already side-tracked about the intent here.

[2019-01-16 13:14] ybod commented on #187
There is two ways we can implement optional claims:

* pass `nil` or `:not_defined` atom into the validation function if claim is not defined at all. In this case the validation function will decide on the outcome.

* add an `optional: [claim1, claim2...]`parameter into the `:options` in case we do not want to fail if some claim is not defined at all, if this claim is defined it will be still vali

[2019-01-17 19:31] fireproofsocks opened #214 "Documentation: Include more examples on signers"
It would be helpful for the documentation to show a few more examples on how to configure and use different signers.  It is important for the examples to be complete: they should show the options set in `config.exs` and in the `Joken` token module, and even consider including command-line options used to generate the various keys (e.g. the RSA SSH keys used by Github).

There are also a few typos

[2019-01-17 19:31] fireproofsocks commented on #211
Haha - yes, of course!  I opened issue #214 and I've already started work on a PR.

[2019-01-18 23:02] fireproofsocks opened #215 "Cannot add custom jti claim (e.g. UUID)"
To Reproduce:

Configure a default signer in your `config.exs`, e.g.

[code]

In your module, try to add a claim for `jti`:

[code]

Next, generate a token (e.g. from iex):
[code]

## Expected

I would expect that the generate claims to include my custom `jti`, claim, e.g.
[code]

## Actual

The actual result _omits_ the `jti` claim:
[code]

[2019-01-20 14:15] moustacheful commented on #175
@konradkalita did you manage to make this work? I ran into the exact same problem, and while I succeeded in decoding the PEM, I haven't been able to make the JWT work at all, but I get no more details than just a 401.

Upon decoding the key it seems fine save for the jti field which is not listed by Google's docs.

[2019-01-21 11:12] victorolinasc commented on #175
Hi @moustacheful !

The jti claims is a standard claim in JWTs as per the specification. I'm sorry but I haven't quite understood your issue. Could you explain it  a bit further?

You can decode de PEM which gives you a cryptographic key, but you can't use it with Joken to sign/verify tokens? Could you give an example?

[2019-01-21 11:32] moustacheful commented on #175
Hey Victor, it was a bit of a more implementation with firebase question
more than any kind of issue with the library.

https://firebase.google.com/docs/auth/admin/create-custom-tokens#

In here they specify the necessary fields and values to encode, but I
haven't been able for Google to validate my JWTs. And given how Google's
documentation is, it's probably the real issue here.

I just though th

[2019-01-27 19:09] fireproofsocks commented on #215
Ah, you're right: I had forgotten the `&`. Thanks!

[2019-01-27 19:09] #215 closed

[2019-01-27 19:15] fireproofsocks commented on #214
Also to include:
- Dynamic signers when used for validation (e.g. to validate tokens obtained from a 3rd party via an OAuth login)

[2019-01-28 04:04] fireproofsocks opened #217 "Verification Documentation Inaccurate"
Several examples from https://hexdocs.pm/joken/Joken.Signer.html#verify/2 do not seem to work...

[code]
I'm still very much confused on how to create a new signer that uses anything other than an HS key.

[2019-01-28 23:50] mmcc commented on #214
I'm also running into a wall on this front. For context, I'm trying to build a little helper tool in our Elixir client library for generating signed URL tokens, so asking folks to configure `joken` in their application would be a bit odd.

As @fireproofsocks mentioned, there's a broken example for specifying a `pem` key, but I'm unable to get _anything_ to work on that front. Examples I've tried:

[2019-01-29 09:48] Nickforall commented on #210
Unfortunately this still happens on 1.7.4

[2019-02-02 13:58] #211 closed

[2019-02-02 14:13] victorolinasc commented on #217
Hey @fireproofsocks ! Sorry for the delay here... it's been a crazy week.

So, let's separate the issues here:

1. Creating a `Joken.Signer` with a configuration other than an HS JWA is done with a few different ways. One way is using `parse_config/1` as you mentioned. This way you must have a configuration like:

[code]

The values in `key_map` follow the parameters of keys on the JWK spec. You c

[2019-02-02 14:15] victorolinasc commented on #210
Sorry @Nickforall. One last check:

Can you run the purely JOSE function that aprses the PEM to see if it is an issue there? We just call `JOSE.JWK.from_pem/1`.

If the error is still reproducible then we should open an issue on JOSE.

[2019-02-02 14:15] victorolinasc commented on #210
I still wasn't able to reproduce the issue here though.

[2019-02-02 14:32] victorolinasc commented on #214
Hi @fireproofsocks and @mmcc ! We sure are in need of better examples... I'll try to address the issues here just so you don't get blocked.

So, I've just replied to issue #217 where I've shown a few configuration possibilities for RS keys. I'll show an example here from start to finish and then I'll include it on the documentation.

## Generating an RSA key

So, first we will generate an RSA key

[2019-02-20 13:04] victorolinasc commented on #214
We have released 2.0.1 with a new guide on assymetric signers https://hexdocs.pm/joken/assymetric_cryptography_signers.html#content

If you could please say if that helps with the issue here I'd be very glad. @fireproofsocks @mmcc

[2019-02-20 13:17] victorolinasc commented on #217
Hey @fireproofsocks can we close this one?

[2019-02-20 18:22] fireproofsocks commented on #217
I think so.  Thanks!

[2019-02-20 18:22] #217 closed

[2019-03-14 22:02] victorolinasc commented on #214
Can we close this @fireproofsocks and @mmcc with the updated content and what's in here?

[2019-03-14 22:03] fireproofsocks commented on #214
I think so.  Thanks!

[2019-03-28 01:23] vans163 opened #223 "Could not recognize the signer algo"
[code]

[2019-03-28 12:32] victorolinasc commented on #223
This is because the algorithm RS*** uses public/private keys for verifying/signing a token.

More info can be seen on the asymmetric crypto guide [here](https://hexdocs.pm/joken/assymetric_cryptography_signers.html#content).

The error message could be tweaked to be more specific. I'll keep this open until I get around it.

[2019-04-04 20:55] mathiasose opened #224 "How do I make validation fail if a claim is not present at all?"
So if a claim is present, I can use my own validation function to accept or reject based on the value. Cool. But if the claim isn't present at all, then `verify_and_validate` says the token is valid, because there was no input to run the validation function on, therefore the validation never failed? How do I make a claim required?

In my application Joken is only used for validation, with another

[2019-04-05 14:22] victorolinasc commented on #224
Hi @mathiasose ! There is an enhancement to Joken to pass options and one of them will certainly be to tell if a claim is mandatory.

Meanwhile, you can use an after validate hook to do exactly that. It would look something like this:

[code]

See documentation for hooks [here](https://hexdocs.pm/joken/Joken.Hooks.html#content).

If this works for you I'll close the issue, ok?

[2019-04-05 15:48] mathiasose commented on #224
Thanks! This is what I came up with, which works for my tests cases:

[code]

[2019-04-16 08:27] mcfiredrill opened #225 "validation fails when aud is nil"
The library seems to fail validation if the aud claim is not present.
[code]

I'm still really new to JWTs so I'm not really sure if this is intended behavior or not.
I was able to verify my token with a different elixir library:
https://github.com/garyf/json_web_token_ex

[2019-04-16 12:47] victorolinasc commented on #225
This is because `aud` is a default claim. You can customize your claim validation like this:

[code]

Also note that a "null" claim and an absent claim are different things. A nil claim (like the one you used in your example) is a claim that IS present in your token with value `null` or maybe an empty string. This is probably a serious thing on your token generation side of things.

Joken would no

[2019-04-16 15:49] mcfiredrill commented on #225
By absent you mean, instead of being null or empty string the key for the value is not present at all, right?

[2019-04-16 16:44] victorolinasc commented on #225
Exactly!

[2019-05-02 14:04] autodidaddict commented on #223
I'm having the same problem. I want to create an `Ed25519` signer to verify tokens but I can't figure out how to create it, the `create` function . just gives me that error about an unrecognized signer algorithm.

[2019-05-02 14:31] victorolinasc commented on #223
Hi @autodidaddict

The Edwards curves family of algorithms are not built-in and need some extra dependencies to work. This is the way JOSE works. More information may be found here: https://github.com/potatosalad/erlang-jose/blob/master/ALGORITHMS.md

Although OTP now supports edwards curves (OTP 21 with a recent OpenSSL/BoringSSL) this detection is not built-in in JOSE.

We are planning on provid

[2019-05-02 14:43] autodidaddict commented on #223
@victorolinasc I'm not native to the Elixir ecosystem so I'm struggling a bit with the solution here. I added `libdecaf` as a dependency to my project, but I apparently can't compile `libsodium` when I add it as a dependency. Do I need both? With just libdecaf present I still get the same error.

[2019-05-02 15:47] victorolinasc commented on #223
For `Ed25519` you need both. They are C libraries that JOSE binds to in order to delegate the execution of this algorithm.

Unfortunately it is a bit outside of my scope too as those libraries have themselves other dependencies that are OS dependent.

[2019-05-27 13:43] whatyouhide opened #226 "Release new patch version"
Hey folks, we're using Joken and would love if you could cut a patch release that fixes the compilation warning in https://github.com/joken-elixir/joken/commit/91b3f2560d2f5b88230926cab0f674bcf237109a, removes the Jason hard dependency, and so on. Let me know if I can help in any way! 💟

[2019-05-27 14:36] victorolinasc commented on #226
Hi @whatyouhide ! Sure... my bad for holding it so long...

I was at your talk yesterday on ElixirBrasil! Great one!

I'll be cutting a release now. Once again, sorry for the wait.

[2019-05-27 14:52] victorolinasc commented on #226
https://github.com/joken-elixir/joken/releases/tag/v2.1.0
https://hex.pm/packages/joken/2.1.0

Let me know if anything goes wrongfully. I'll be closing this now!

[2019-05-27 14:52] #226 closed

[2019-05-27 16:55] whatyouhide commented on #226
Hey @victorolinasc, ahaha no idea you were at Elixir Brasil!! Small world 😄 Anyways, thanks so much for the release, appreciate it 💟

[2019-05-29 06:37] bderooms commented on #223
Is it a similar error when I receive:
iex(3)> signer = Joken.Signer.create("RS512", %{"pem" => pem})
** (FunctionClauseError) no function clause matching in :jose_jwk.from_pem/1

Tried to pass it as a string or pass it through JOSE.JWK.from_pem_file first. Both don't work.
Do I need to install something first?

[2019-05-31 12:20] victorolinasc commented on #223
@bderooms this is a different issue... Probably related to your pem variable. It seems that it is not a `String.t()` in your case.

For instance:

[code]

Pem should contain a valid PEM encoded key.

[2019-06-25 13:21] jsmestad commented on #224
Is this enhancement somewhere? I looked through the open PRs and recent commits and do not see it. I think all claims should be required by default and only opt in to making them optional. Seems to better follow the principle of 'secure by default'

[2019-07-04 15:34] dariodf opened #236 "Can't change `current_time_adapter` vía when is set as an attribute at compile time"
https://github.com/joken-elixir/joken/blob/bccf3c6d203afd3611437af8369b2b87a5be24a0/lib/joken.ex#L105

The `current_time_adapter` is set as an attribute, so when the module is used as a dependency it always takes the compile time configuration (`Joken.CurrentTime.OS`) and can't be overridden via config.

[2019-07-06 02:43] victorolinasc commented on #236
Sorry @dariodf but I don't think it is an issue because test is a differente compilation environment than dev, prod and so on (see the _build folder where it has a different folder per environment).

The primary use case I thought about when writing this was to ease testing when depending on Joken, for example, if you want to advance or go back in time to validate a token configuration.

Can you s

[2019-07-06 02:45] victorolinasc commented on #223
@vans163 I'll close this issue for now. If anything, please re-open this. THanks!

[2019-07-06 02:45] #223 closed

[2019-07-06 02:47] #214 closed

[2019-07-08 02:37] vans163 commented on #223
I stopped using Joken and just implemented the signature check myself, I needed it for JWT validation. So cannot comment if its fixed..

[2019-08-06 17:33] Shayon opened #242 "High System CPU in verify_and_validate"
When calling `Joken.verify_and_validate/3` more than 1.5k times per second we see an exponential increase in System CPU utilization.  When doing some debugging we found that most of the BEAM schedulers are waiting on a `futex`.  No matter how much CPU we throw at this we still get the same results.  When the requests per second drop back below the threshold CPU returns to normal.  We are using `ES

[2019-08-06 19:27] victorolinasc commented on #242
I'll try to take a look later on today. Can you share:

- System OS and version
- Erlang version
- Elixir version
- Joken version

My first guess is that something on your hot path is using `:crypto.strong_rand_bytes` and that locks a scheduler (a discussion about it can be seen [here](https://github.com/elixir-plug/plug/issues/629) on the Plug issue about request id using strong_rand_bytes).

[2019-08-06 21:20] Shayon commented on #242
Of course I forgot all that important information :smile:
Our elixir application is running in a docker container FYI
* Base System OS and version: `Ubuntu 16.04.6 LTS`
* Docker container OS and version: `Alpine 3.9.4`
* Erlang version: `Erlang/OTP 22.0.7`
* Elixir version: `1.8.2`
* Joken version: `2.1.0`
* Jose version: `1.9.0`

[2019-08-07 12:34] victorolinasc commented on #242
Thanks for the info! I can't look at it more closely right now but I'll ask just one more information: can you say the result of running `:crypto.info_lib()`? One thing to try on this scenario is to run ES512 entirely through the openssl version Erlang has available to in the container.

Also, can you verify that `JOSE.crypto_fallback/0` is `false`?

[2019-08-07 15:39] Shayon commented on #242
Here's the info real quick:
`:crypto.info_lib()`: `[{"OpenSSL", 269488175, "OpenSSL 1.1.1b  26 Feb 2019"}]`
`JOSE.crypto_fallback()`: `false`

Now I'm going to try and figure out how to "run ES512 entirely through the openssl version Erlang has available to in the container." :crossed_fingers:

[2019-08-07 16:54] Shayon commented on #242
I'm having some trouble figuring out how exactly I am supposed to run ES512 entirely through openssl while using Joken... any pointers?

[2019-09-04 14:48] Shayon commented on #242
Hey @victorolinasc have you been able to put any time into this? Or is there anything else I can do to help discover what the solution may be?

[2019-09-05 12:37] victorolinasc commented on #242
Sorry @Shayon I still haven't found some time to look into this. I'll try to make some room tonight. Hope to reply to you in max 24hs.

Once again, sorry for the long wait. I still believe/guess this is not a Joken issue per se. Could you try using a different algorithm? ES512 is based on `secp521r1` and is specified [here](https://tools.ietf.org/html/rfc7518#page-9).

From my previous experience

[2019-09-15 00:46] victorolinasc commented on #242
I couldn't reproduce it, but I am trying to come up with something you can test on your server.

The core of ES512 is this:

[code]

Here we have:
- message is the the first two parts of the token
- der_signature is the third part of the token der encoded
- ec_public_key is an erlang `ECPublicKey` record which contains the point on the curve `:secp521r1`

I truly think that you are reaching a lock

[2019-09-16 10:36] pedroseabra1091 opened #247 "Argument error when generating token"
When generating the token while defining the signer explicitly I get:
[code]

I am currently creating the signer through the config file like stated in (https://hexdocs.pm/joken/assymetric_cryptography_signers.html#content):
[code]

[2019-09-16 12:48] victorolinasc commented on #247
Hi @pedroseabra1091

It seems that your PEM is not properly formatted. You are using single quotes (`"`) for a multi line string. That preserves the spaces in between.

Try setting your PEM like:

[code]

It is important that the final triple quotes be aligned with where each starts so that Elixir will trim it automatically.

Please tell me if that works

[2019-09-16 13:40] pedroseabra1091 commented on #247
Hey @victorolinasc !
Still breaks, however, the problem isn't the same. Now when I try to `generate_and_sign` pops the following error:
[code]

Could it be a badly sanitized private key?

[2019-09-16 14:10] victorolinasc commented on #247
That is strange....

Try this please:

[code]

[2019-09-16 14:13] pedroseabra1091 commented on #247
I already figured it out. I was missing the signer argument in the `generate_and_sign`. I was only sending the extra claims and the signer

[2019-09-16 14:15] victorolinasc commented on #247
Nice! Can I close this then?

[2019-09-16 14:17] pedroseabra1091 commented on #247
I was missing the token_config actually!
Yeah! Thanks for the help 🙏

[2019-09-16 14:41] victorolinasc commented on #247
It must be a valid PEM string. PEM can be split into multi lines or not.  THe issue you had first was that your multi-line PEM had spaces at the beginning of the lines because of the single quote.

So, if the PEM is on an ENV variable it just needs to be a valid PEM file.

[2019-09-26 09:05] tokachev opened #249 "Different behavior of %Joken.Claim{} and Joken.Config.add_claim"
When I try to run this
`Map.put(%{}, "iat", %Joken.Claim{generate: nil, validate: nil})`
It's ok, and I receive
`%{"iat" => %Joken.Claim{generate: nil, options: [], validate: nil}}`

But in case
`%{}|> Joken.Config.add_claim("iat", nil, nil)`

I get error

validation function.

Probably it's expected behavior, but at least it's a bit misleading

Elixir version is 1.9.1. Joken version is 2.1.0

[2019-09-27 12:27] victorolinasc commented on #249
Yep! That is a bug!

Thanks for letting us know. I'll work through a patch. Though cannot do it now.

Once again, thanks for looking into it!

[2019-09-27 12:28] victorolinasc commented on #247
@pedroseabra1091 I'll be closing this one. If you need any help feel free to re-open it.

[2019-09-27 12:28] #247 closed

[2019-09-27 12:29] victorolinasc commented on #236
@dariodf I'll be closing this due to inactivity. If you can share your use case or think this needs more discussion, please, be free to re-open it.

[2019-09-27 12:29] #236 closed

[2019-09-28 13:48] victorolinasc commented on #249
@tokachev upon further looking into this, I think the function call version is better as its meaning is exactly to provide validation.

Adding a claim with only nil options is a strange thing. The check is if both are nil.

I'll try to enhance the error message, but I really think one should not add claims without validation and verification.

Thanks for reporting it though. Feel free to re-open i

[2019-09-28 13:50] victorolinasc commented on #249
I've been a really bad reader... the message seems clear enough to me in saying that either one is needed. I think it is expected that creating the struct by hand can generate invalid values.

Or we could add an always passing verification function? What do you think @tokachev ?

[2019-09-28 13:51] victorolinasc commented on #249
The message even says currently:

[code]

[2019-09-28 13:53] victorolinasc commented on #242
Hi @Shayon have you figured it out whether there is something in Joken creating the lock?

[2019-09-28 13:57] victorolinasc commented on #224
Hi @jsmestad ! Just seen your comment. Sorry for not commenting earlier.

I am thinking of a release plan to add that behaviour...

1. Add the hook to Joken 2.x series and document it.
2. Change the default behaviour and add parsing of claims options on 3.x series

Since this is a breaking change (in behaviour and not API) I think this is safer. What do you think? I am reopening this issue until w

[2019-09-28 13:57] victorolinasc commented on #225
I am closing this here. Follow discussion on #224

[2019-09-28 13:57] #225 closed

[2019-09-28 14:00] victorolinasc commented on #210
@Nickforall since I could not reproduce this and there was no more activity here, I'll be closing this issue.

If you are still having this issue (please use docstrings as single quote multiline strings preserve spaces and that makes PEM invalid) feel free to re-open.

[2019-09-28 14:00] #210 closed

[2019-09-30 09:00] tokachev commented on #249
@victorolinasc I don't think that to add an always passing verification function is a good idea.

Yes, the message is rather clear. Probably it's worth to remove mentioning of usage %Joken.Claim in documentation. Because such approach can lead to generation of invalid values (e.g. `%Joken.Claim{generate: nil, validate: nil}`). As you know if user have ability to do something wrong, he will do it)

[2019-09-30 17:30] Shayon commented on #242
So, I don't think it is necessarily Joken that is at fault, I was able to reproduce using `JOSE` only a while back.  I'm not really an expert at this so I'm having trouble debugging it.  Furthermore, since the problem isn't going  away I've had to spend my time on modifying my service so it can run on multiple hosts in order to scale (sooner than I would have liked :disappointed:)

Like I said, I

[2019-09-30 19:37] victorolinasc commented on #242
Like I said, I truly think this is a crypto bug that might be addressed on
OTP 23.

One channel you could ask about this is the erlang slack community. Also,
it would be nice to open a bug on the OTP jira. You have a lot of good data
to share and I guess it would be a welcome report.

Em seg, 30 de set de 2019 14:30, Shayon Javadizadeh <
notifications@github.com> escreveu:

[2019-09-30 20:24] Shayon commented on #242
Okay, I'll try to do that once I am able to get things stable with my service.  I really appreciate the help, Victor! :1st_place_medal:

[2019-10-01 00:16] victorolinasc commented on #242
No worries! Sorry if I can't help you more =/

Hope things get sorted out!

[2019-10-01 00:16] #242 closed

[2019-10-03 09:58] OddNaughty opened #251 "[Config] Aud claim: Binary Lists not supported"
Hello,

As I was struggling with JTW claims and Joken.Config, I saw in the [JWT RFC](https://tools.ietf.org/html/rfc7519#section-4.1.3) that `aud` normally contains a string array.

As saw here: [Jwtk issue](https://github.com/jwtk/jjwt/issues/77)

Thank you a lot and nice work!

[2019-11-09 01:39] victorolinasc commented on #251
Hi @OddNaughty ! Unfortunately, most implementations in the wild don't respect that too much...

From my personal experience it is usually not a list. But feat not! To use a list for `aud` claim you can define your own validations:

[code]

[2019-11-09 01:41] victorolinasc commented on #249
Sorry for the long delay! I agree with you that we can remove it or rephrase it better. I think that adding that the function is just a helper for building a struct helps people think of how it is implemented and then they might come with different ways of interacting with it.

What do you think is better?

[2019-11-09 01:43] victorolinasc commented on #224
I will release a minor version with the first step on this. Then we can think of what we want for version 3.x.

I'll open an issue about a possible version 3.x.

[2019-11-09 01:43] #224 closed

[2019-11-09 01:59] victorolinasc opened #256 "[DISCUSSION] - Next major version"
Hi you all! This issue is to discuss a possible next major version and things that are still bad or missing on the current implementation.

Here is my current list of "would love to have time to work on" things:

## A "plug-in" crypto implementation

Currently we rely heavily on JOSE for almost all operations. It is a wonderful library and is used by many projects across the BEAM community.

There

[2019-11-20 18:09] kdawgwilk opened #258 "Not possible to create a validate only signer"
We have a use case where we have a 3rd party identity provider that generates our JWT tokens and we only want to be able to validate them but not generate them.  However, joken requires that we provide a private key (for RS256 tokens) to create a signer which we don't own since it is a 3rd party that generates the tokens.

[2019-11-20 23:38] victorolinasc commented on #258
Joken only requires a private key if you call `Joken.sign` or simlar functions. You can and should in your use case create a signer with the public key.

This is essential for JokenJwks and we've been using it in production for a while.

Just to be extra sure, I've pushed more tests with that showcase this:

- signer test: https://github.com/joken-elixir/joken/blob/master/test/joken_signer_test.ex

[2019-11-20 23:38] #258 closed

[2019-11-20 23:40] victorolinasc commented on #251
I'll be closing this for now as, although it is not the default, you can still create your own validations. If you want this to be on the next major version (which might break the default behaviour) give your opinion on #256 .

Thanks for your input!

[2019-11-20 23:40] #251 closed

[2019-11-20 23:41] bryanjos commented on #256
I'll have to dig more into the issues to also get a view of what comes up the most. The plug-in crypto seems useful for the reasons you put here.

[2019-11-20 23:42] victorolinasc commented on #249
@tokachev I'll leave the docs as is for now. If you can think of a better phrasing there, please, send a PR for further discussions!

Thanks once again for your input!

[2019-11-20 23:42] #249 closed

[2020-02-13 16:30] scouten opened #267 "Create Joken.Signer from OpenSSH-style key"
I would like to be able to create a `Joken.Signer` struct from an OpenSSH-style key instead of the PEM format. If this is possible using the existing code, I would welcome a quick code example.

Thanks!

[2020-02-16 00:35] victorolinasc commented on #267
Hi @scouten !

Unfortunately there is no built-in way to do that. You can transform your openssh-style key into pem with openssl or ssh-keygen which I believe you used one of them to generate the key.

This is an example of getting a public key from an rsa openssh key file:

`ssh-keygen -f my_openssh_key -e -m rsa`

With that you could create a signer that can verify tokens but not sign it.

OpenS

[2020-05-09 11:08] adamu commented on #223
I've just run in to this. The error is specifically confusing, because the list of supported algorithms includes the algorithm that has been rejected.

[2020-09-18 01:18] kvsteger-driver opened #288 "Couldn't recognize the signer algorithm RS256"
`{:joken, "~> 2.0"}`
In a `.iex.exs` file I'm calling `signer = Joken.Signer.create("RS256", "secret")` and getting:
[code]
`RS256` appears in the list of possible values.

[2020-09-18 13:06] victorolinasc commented on #288
Hi @kvsteger-driver !

This is expected (and the message is not very clear...). RS256 needs an RSA key. "secret" is a symmetric key and not an asymmetric key. It is only possible to use with HS*** algorithms currently.

Take a look at the guides about this:
- https://hexdocs.pm/joken/signer.html#octet-keys
- https://hexdocs.pm/joken/assymetric_cryptography_signers.html

[2020-09-18 13:06] #288 closed

[2020-09-27 16:04] victorolinasc commented on #267
Just to let you know I've opened an issue on JOSE about this: https://github.com/potatosalad/erlang-jose/issues/96

[2020-10-15 21:35] acco opened #294 "Passing a `%JOSE.JWK{}` to `Signer.create()`"
Hey team,

I work with `JOSE.JWK` in their native struct in my codebase. Eg:

[code]

I want to be able to do something like this:

[code]

But this raises this error:

[code]

Looking at the `create()` function, it looks like

So, my workaround is the following - which is fine, just not ideal:

[code]

Any reason not to support passing in JWK's directly?

Thanks!

[2020-11-23 11:28] crowellcindy opened #299 "Tried switching to 256x256 and I got to ~50 FID at 50k iterations. Also I got a roughly 4x slowdown when pl regularization kicked in and had to disable it."
Tried switching to 256x256 and I got to ~50 FID at 50k iterations. Also I got a roughly 4x slowdown when pl regularization kicked in and had to disable it.

[code]

__Originally posted by @GetsEclectic in https://github.com/lucidrains/stylegan2-pytorch/issues/111#issuecomment-674029284__

[2020-11-24 12:28] victorolinasc commented on #299
Wrong repo? :)

[2020-11-24 12:28] #299 closed

[2021-02-02 11:21] victorolinasc commented on #294
Hi @acco ! No specific reason at all besides my short sight of things when I've implemented the Signer. A PR will certainly be welcomed. There is just the boring part of ensuring the signer can handle the desired algorithm. For instance: you pass a RSA key for an algorithm that expects an octet key or an elliptic curve key.

[2021-02-08 10:17] j127 opened #307 "Broken link in the README.md file"
I noticed a broken link in the README: http://hexdocs.pm/joken/signers.html

The page is here: http://hexdocs.pm/joken/signer.html

I was going to make a pull request, but I'm not sure if you want to fix it by changing the README or the URL.

[2021-03-27 12:26] Kloenk opened #311 "ES256 does not return"
When using a signer with an `ES256` algorithm, generate_and_sign does not return, but hangs forever.

[2021-04-04 22:58] victorolinasc commented on #311
Can you paste an example key or source code to investigate? This seems more like a crypto/OpenSSL issue.

I'd be glad to help if there is an example code

[2021-04-04 23:04] #307 closed

[2021-06-15 16:40] hez opened #322 "Version bump"
It would be nice to have a version bump to pull in the latest jose which includes support for OTP24, there have been deprecations in :crypto which prevent the version of jose in 2.3.0 from compiling on OTP24.

[2021-06-16 20:17] victorolinasc commented on #322
I totally agree! Haven't done that yet because there is actually many incompatibilities still in JOSE with OTP 24. Currently you can have a warning-less working version in OTP23 but OTP24 is not yet working across all cases in JOSE.

This was just merged: https://github.com/potatosalad/erlang-jose/pull/118 but it seems there is no new version of JOSE with that in. Also, some tests are still breaki

[2021-06-23 20:54] blagh opened #324 "Can't override Joken.Config.validate"
Currently, if you attempt to specify two arguments like so:

    @impl true
    def validate(claims, context) do
       ... etc ...
    end

You get a compiler warning that a previous clause always matches.

If you specify with only one argument:

    @impl true
    def validate(claims) do
       ... etc ...
    end

You get a compiler error that `validate/1` conflicts with defaults from `validate

[2021-07-03 20:44] victorolinasc commented on #322
Adding related issue opened on JOSE: https://github.com/potatosalad/erlang-jose/issues/119

[2021-07-03 20:47] victorolinasc commented on #311
I'll be closing the issue because can't reproduce. If you can provide a reproducible project I can take a look into it.

[2021-07-03 20:47] #311 closed

[2021-07-03 21:01] victorolinasc commented on #324
Merged :) Thanks!

[2021-07-03 21:01] #324 closed

[2021-07-03 21:47] Kloenk commented on #311
Sorry, completely forgot this. Now I'm not even sure anymore how I produced the error. Sorry for that

[2021-07-11 11:37] markupguy opened #327 "protocol Jason.Encoder not implemented for %Joken.Claim"
Hey! Thanks so much for creating this library!

I'm not sure whether it's me (most probably) or an issue with Joken & Elixir 1.11, but I'm getting the following error:

[code]

My code:

[code]

I'm trying to create a token from a Google service account, but specifically don't want to specify anything in config.exs as there can be many service accounts :-)

Am I going about this completely wrong?

[2021-07-11 12:50] #327 closed

[2021-08-16 02:04] victorolinasc commented on #322
Fixed with new version 2.4.0

[2021-08-16 02:04] #322 closed

[2022-01-12 17:44] metehan opened #348 "function :crypto.hmac/3 is undefined or private"
My code produces an error `function :crypto.hmac/3 is undefined or private` on docker container. Same code works well on localhost and other docker containers.

[code]
Stack trace:
[code]
Versions:
[code]

What may cause the problem?

[2022-01-16 20:46] victorolinasc commented on #348
Sorry for the long delay here =/

You probably switched OTP versions without re-compiling JOSE. Can you please paste here what is the version of:

- joke
- jose
- OTP
- elixir
- openssl library

You should probably force the jose version with:

[code]

Then recompile on OTP 24+ with `mix deps.compile --force` (don't forget to add `MIX_ENV=test` when compiling do test).

[2022-01-30 16:20] victorolinasc commented on #348
@metehan did it work?

[2022-01-30 17:33] metehan commented on #348
Yes it did problem was opt version on the server.

[2022-01-30 17:33] #348 closed

[2022-01-30 17:40] victorolinasc commented on #348
Thanks!

[2022-05-06 13:14] vpoten opened #360 "Fix the specs of the function `Joken.verify`"
Hi!

The reason about this issue is the missaligned specs found in the chain of calls that starts in `verify_and_validate`:
  * `@spec verify(bearer_token, signer_arg, [module]) :: verify_result()`
  * `@spec validate(token_config, claims, term, hooks) :: validate_result()`
  * `@spec verify_and_validate(token_config, bearer_token, signer_arg, term, hooks)`

Maybe, `verify` should have:
`@spec ver

[2022-05-31 09:35] ostinelli commented on #223
I'm getting a similar message:

[code]

Trying to use "HS256" which should be pretty common (HMAC using SHA256). Can someone tell me what library / other do I need to bring in to enable this algorithm?

Thank you.

[2022-05-31 12:03] victorolinasc commented on #223
@adamu I am curious as to which error you were getting with `Joken`. If possible can you paste a simple example?

For instance:

[code]

Does that not work for you?

[2022-05-31 14:32] adamu commented on #223
It was two years ago, let me see... I just tried your suggestion and it works. It's possible I was passing the binary directly instead of a map. If I do that, the error message does say that a map is required:

    Joken.Signer.create("RS256", pem)

However, on the version at the time, 2.2.0. it doesn't:

[2022-05-31 15:44] victorolinasc commented on #223
SOrry @adamu ! I was trolled by email notifications here ...

Someone commented and then deleted here... I got the email, came here to check and thought it was you heheh sorry about this!

THanks for confirming the fix :)

[2022-06-07 18:02] anthonator opened #362 "Why do claim need to have binary keys?"
The `claims/0` spec is defined as `claims() :: %{required(binary()) => term()`. I'm curious why the claims you pass into Joken functions need to have binary keys. It also works with atom keys but dialyzer fails.

[2022-06-08 12:23] kianmeng opened #364 "Disabled linting tasks in GitHub Actions"
Based on https://github.com/joken-elixir/joken/runs/6446435740?check_suite_focus=true

There is not specify Elixir/Erlang combination version set for linting related tasks. Is this intentional? Should we enable this back?

[code]

[2022-06-18 22:27] victorolinasc commented on #362
This is probably just because claims are JSON data and that is how JSON libraries usually encode to the format. Nothing really "needed" but thought of as a good practice when dealing with JSON in general.

Do you have a particular use case that atom keys would be a nice fit?

[2022-06-18 22:47] victorolinasc commented on #267
I'll close this as it is related to JOSE.

[2022-06-18 22:47] #267 closed

[2022-06-18 23:43] #360 closed

[2022-06-18 23:43] victorolinasc commented on #364
I will reconfigure the CI :) Thanks for catching this!

[2022-06-19 08:38] #364 closed

[2022-06-28 08:57] tcrossland opened #368 "Incorrect spec for Joken.Hooks.after_sign/3 callback"
The `Joken.Hooks.after_sign/3` callback has the following spec:

[code]

The second argument passed to the `after_sign` callback actually has the following type (result of `Joken.Signer.sign/2`):
[code]

[2022-07-22 14:27] aphillipo opened #369 "Intermittent ** (Joken.Error) Couldn't recognize the signer algorithm."
Hey I'm doing the following,

```signer = Joken.Signer.create("HS256", @config[:api_secret])```

But from time to time I get:

[code]

I literally just added some IO.inspect calls to print off the value of @config[:api_secret] and now it magically works again even after removing the inspect calls, not that it should have mattered.

I have come to the conclusion that is must be a config thing with

[2022-07-28 09:43] aphillipo commented on #369
@config[:api_secret] was empty under some weird conditions... probably should be a better/correct error for nil/empty secrets.

[2022-07-28 09:43] #369 closed

[2022-07-28 12:35] victorolinasc commented on #369
Sorry for the long delay... I was on vacations :)

Glad it turned out fine. Will look into it in more detail this week

[2022-08-01 18:56] aphillipo commented on #369
No worries at all Victor! Token is so good and simple, thanks for all your work on it!

[2022-09-21 13:02] victorolinasc commented on #368
Thanks! This design is a bit clumsy unfortunately... I will try to keep it simpler next major version.

Not planning on releasing a new version soon though. Probably will accumulate more fixes before that. Is that ok?

[2022-10-26 13:12] v0i4 opened #376 "Help with signing token with 2048-bit RSA private-key"
Hi guys, i'm trying to integrate our app with MuxAPI.

Mux generates for me: "2048-bit RSA key-pair and returns the private key and the public key. "

Then I need to sign my token with this private-key.

I've tried to put this key into a file and read it using the PEM example available in signers docs, but no success..
 signer = Joken.Signer.create("RS256", %{"pem" => rsa_pem})

** (ArgumentError)

[2022-10-26 13:43] victorolinasc commented on #376
Very strange...

This is our example RSA key in PEM format https://github.com/joken-elixir/joken/blob/main/config/test.exs#L41-L93

Is the value of your variable in the same format as these lines?

[2022-10-26 14:17] v0i4 commented on #376
** (MatchError) no match of right hand side value: {:error, {:asn1, {{:invalid_value, 3}, [{:asn1rt_nif, :decode_ber_tlv, 1, [file: 'asn1rt_nif.erl', line: 89]}, {:"OTP-PUB-KEY", :decode, 2, [file: '../src/OTP-PUB-KEY.erl', line: 1233]}, {:public_key, :der_decode, 2, [file: 'public_key.erl', line: 345]}, {:jose_public_key, :pem_entry_decode, 1, [file: 'src/jose_public_key.erl', line: 192]}, {:jose

[2022-10-27 21:06] v0i4 commented on #376
it worked!

{:ok, rsa_pem} = signing_key |> Base.decode64()
signer = Joken.Signer.create("RS256", %{"pem" => rsa_pem})

thanks!

[2022-10-27 21:06] #376 closed

[2022-11-04 18:43] jkbbwr opened #379 "Unable to set the type in the JWT header"
Any attempt to set the type is always overwritten.
My API requires that the type in the header is set to `JWS`

Currently working around it by hacking the struct cirectly but this is obviously not portable.

Please advise.

[2022-11-04 19:34] jkbbwr opened #380 "Unable to verify signature"
Trying to sign something with PS256 but failing to verify the signature in either Python or Javascript.

[code]

I then go to a language say python

[code]
Or javascript
[code]

However if I use a JWT generated by a different language, the signatures validate correctly.

[2022-11-08 12:35] Tarang opened #381 "Using ed25519 keys"
Hi team,

I had a look at the issue at https://github.com/joken-elixir/joken/issues/214 and tried to use the ed25519 key with iex

[code]

Is there anything i'm doing wrong. How can I create a token with joken, and also use a public key only to verify the token? I'm not entirely sure what is going wrong. Any help would be really appreciated

[2022-11-09 14:25] victorolinasc commented on #379
Can you provide a simple example here that reproduces the problem.

[2022-11-09 14:27] victorolinasc commented on #380
PS256 has a known bug as described https://github.com/potatosalad/erlang-jose/issues/121#issuecomment-919072956

Can you see that it resolves for you?

[2022-11-11 17:08] jkbbwr commented on #380
This fix resolves my issue but I would rather not rely on this too much if I can help it.

Is this going to be fixed either downstream or here?

[2022-11-14 01:49] spencerdcarlson opened #383 "[DISCUSSION] Hiding sensitive data"
What are your thoughts about [deriving Inspect](https://hexdocs.pm/elixir/Inspect.html) for the `Joken.Signer` struct so that the `jwk` attribute is excluded?

**Reference**
* [erlef sensitive data - elixir](https://erlef.github.io/security-wg/secure_coding_and_deployment_hardening/sensitive_data.html#elixir)

[2022-11-15 21:52] victorolinasc commented on #383
I think this is a very nice addition :) Though I don't think the way it is here is proper. We should hide private keys and not ALL jwks IMHO.

This maybe is better suited to be implemented in JOSE as it stands currently. I have a WIP about doing a crypto layer that we can exchange between JOSE and Joken but haven't had the time to finish it yet...

[2022-11-15 21:53] victorolinasc commented on #380
This can only be fixed downstream unfortunately as it is the way JOSE passes options to RSA crypto. I'll be closing the issue here because we can't solve it on Joken side.

[2022-11-15 21:53] #380 closed

[2022-11-15 21:54] victorolinasc commented on #379
If I understand the issue correctly, custom header parameters (as is the `typ` claim on a JWS token) can be set. THere is a dedicated guide on docs here https://hexdocs.pm/joken/custom_header_arguments.html

[2022-11-15 22:01] victorolinasc commented on #381
Hi @Tarang !

Before we dive deep here let me just check some things:
- You can run the examples with RSA keys and RS*** algorithms?
- You have a private/public key pair? If so have you read the guides about asymetric crypto (https://hexdocs.pm/joken/asymmetric_cryptography_signers.html)
- Are you using an Open SSH key? I don´t think that is working right now unfortunately..

Also, if you could pl

[2022-11-15 22:42] spencerdcarlson commented on #383
That makes sense. I took a quick stab at it in [PR 139](https://github.com/potatosalad/erlang-jose/pull/139)

[2022-11-17 08:50] Tarang commented on #381
Hi @victorolinasc , thanks for having a look at it.

1) Yes I can run it with the RSX algorithms, e.g if i swap out to this it works:

[code]

2) Yes i have both the private and public key pair, and looked at the docs, to match the Ed25519 options

3) It's not the OpenSSH key style `-----BEGIN OPENSSH PRIVATE KEY-----`, but I know what you mean with that, If I use that style I can't even get passe

[2022-11-20 12:01] Tarang commented on #381
I forgot the output of `:crypto.supports()`, which is below

[code]